<% if params[:contribution_for] == 'building_review' or params[:contribution_for] == 'unit_review' %>
	<h2>Write a review</h2>
	<hr />
	<div class="row">
		<div class="col-lg-6">
			<%= render partial: 'reviews/form' %>
		</div>
	</div>
<%elsif params[:contribution_for] == 'building_photos' or params[:contribution_for] == 'unit_photos' %>
	<div class="row">
		<%= render partial: 'uploads/form' %>
	</div>
<%elsif params[:contribution_for] == 'building_amenities' %>
	<%#= render partial: '' %>
<%elsif params[:contribution_for] == 'unit_price_history' %>
	<%= render partial: 'unit_price_histories/form' %>
<%end%>
