.spacer
.help-block.text-left
	If you have any questions, contact us at 
	%a{href: 'mailto: hello@transparentcity.co'} 
		%span{style: "border: 0; margin: 0; padding: 0; color: #556cd6; text-decoration: none;", dir: "ltr"}hello@transparentcity.co
	or call at 
	%a{href: 'tel:+15165670265', style:"border: 0; margin: 0; padding: 0; color: #515f66; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; text-decoration: none;", target: "_blank", rel: "noreferrer"}
		%span{style: "border: 0; margin: 0; padding: 0; color: #556cd6; text-decoration: none;", dir: "ltr"}+1 516-567-0265