.spacer
.help-block.text-start
	If you have any questions, contact us at 
	%a{href: 'mailto: hello@myapp.com'} 
		%span{style: "border: 0; margin: 0; padding: 0; color: #556cd6; text-decoration: none;", dir: "ltr"}hello@myapp.com