%p="Hello #{@user_name},"
#container
	%h3="Your Subscription is about to renew on #{@renew_date}."



:css
	#container{
		width: 450px;
		margin: 40px auto 50px auto;
		text-align: center !important;
	}