= form_tag url, id: form_id do
	- if submit_text == 'Active On' || submit_text == 'Active Off'
		=hidden_field_tag :active, submit_text == 'Active On' ? true : false
	=hidden_field_tag :type, @type
	=submit_tag submit_text, class: "btn btn-sm #{submit_btn_color} btn-round text-white"