- @listings.each do |listing|
  %tr{'data-id' => listing.id}
    %td.text-center=check_box_tag "listing_#{listing.id}", listing.id, nil, class: 'listing listing-box'
    %td=listing.date_active
    %td=link_to listing.management_company_name, '#'
    %td=link_to listing.building.building_name_or_address, building_path(listing.building)
    %td.text-center=listing.unit
    %td.text-right=number_to_currency(listing.rent, precision: 0)
    %td.text-center=listing.bed
    %td.text-center=listing.bath
    %td.text-center=listing.free_months
    %td.text-center=listing.owner_paid
    %td.text-center=listing.rentstabilize
    %td.text-center=listing.date_available
    - confirm_message = 'Are you sure you want to delete this listing?'
    - unless @type == 'past'
      %td=link_to 'edit', edit_listing_path(listing)
      %td=link_to 'Delete', listing_path(listing), method: :delete, data: {confirm: confirm_message }, class: 'text-danger'
    - else
      %td=link_to 'edit', edit_past_listing_path(listing)
      %td=link_to 'Delete', past_listing_path(listing), method: :delete, data: {confirm: confirm_message }, class: 'text-danger'
    %td
      %input.apple-switch.sb-sm.listing{type: 'checkbox', checked: listing.active, style: 'margin: 0px;', data: { lid: listing.id } }