- listings.each do |listing|
	%tr.listings-record{'data-id' => listing.id, 'data-date-active' => listing.date_active }
		%td=listing.date_active
		%td=listing.unit
		%td
			%b=number_to_currency(listing.rent, precision: 0)
		%td=(listing.bed == -1 ? 'R' : listing.bed)
		%td=listing.bath
		%td=listing.free_months
		- unless mobile?
			%td
				- d_av = listing.date_available
				- unless type == 'past'
					=d_av || 'Now'
				- else
					=d_av
			%td=listing.owner_paid
			%td=listing.rentstabilize