.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-10.col-lg-offset-3
		= render 'billings/form'

%script{type: 'text/javascript', src: 'https://js.stripe.com/v3/'}

:javascript
	Stripe.setPublishableKey(#{STRIPE_PUBLIC_KEY});