- if !browser.device.mobile?
  #showPastListing.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "NewUnitLabel", role: "dialog"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Past Rental Listings
        .modal-body.no-padding
          = render 'buildings/show/listings', listings: @listings
- else
  .modal-full.past-listing-modal{style: 'display: none; background: #fff;'}
    .row{style: 'position: relative;'}
      .col-lg-12
        .text-center{style: 'border-bottom: 1px solid #ddd;'}
          %h4.text-center{style: 'margin-top: 10px; margin-bottom: 10px;'} Past Rental Listings

      %div.text-right.header.visible-xs{style: 'position: absolute; right: 15px; top: -1px;'}
        = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeContact'
    
    = render 'buildings/show/listings', listings: @listings