- if browser.device.mobile?
  = will_paginate objects, renderer: BootstrapPagination::Rails, previous_label: '← Prev', inner_window: 0, outer_window: 0, :page_links => false
- else
  = will_paginate objects, renderer: BootstrapPagination::Rails, previous_label: '← Prev'