- if current_user&.admin?
	%a#AdminMenu{href: '#', class: 'no-hover-underline dropdown-toggle Header-navText', 'data-bs-toggle' => 'dropdown'} 
		Admin

	.dropdown-menu.userMenu.admin{role: 'menu', 'aria-labelledby' => 'AdminMenu'}
		%ul
			- StaticData::ADMIN_NAV_MENU.each do |nav|
				%li= link_to nav[:title], nav[:url]
				