.advertise-with-us
	.top-section
		.row
			.col-lg-12.col-md-12.col-xs-12
				%h2 Promote Your Rental Listing
				%h2 With Transparentcity
				%br
				%p Transparentcity connects prospective renters to individual NYC landlord owners. The platform provides another way for you to market and advertise your investment property in front of NYC renters.
	
	%hr
	
	.mid-section
		.row
			.col-lg-12.col-md-12.col-xs-12
				%h3 Our Offerings

		.row
			.col-lg-6.col-md-6.col-xs-12
				%h4 For Individual Landlord Owners
				%p 
					Simply create a user account and go into the FRBO Tool. Enter in your listings information, amenities, photos, videos, and your Ad is immediately up and running. 
				%p All information is interchangeable and can be adjusted throughout the featured time period.
				%a.btn.btn-primary.btn-round.font-bold.visible-xs{href: self_service_btn_link(@type)}= '$14 / Listings / 2 Weeks'

			.col-lg-6.col-md-6.col-xs-12
				%h4
				=image_tag "advertise/#{params[:img]}.png", style: 'width: 100%;margin-top: 14px;'
		
		.row.hidden-xs
			.col-lg-6.col-md-6
				%a.btn.btn-primary.btn-round.font-bold{href: self_service_btn_link(@type)}= '$14 / Listings / 2 Weeks'
			.col-lg-6.col-md-6

		%hr

		.row
			.col-lg-12.col-md-12.col-xs-12
				%h3 Our Product Platform For Individual Landlord Owners

		%section
			.sub-section= image_tag 'advertise/featured-listing.png', style: 'width: 100%;margin-top: 14px;'
			.sub-section
				%h4 Create Your Listing. Get Inbound Leads.
				%p 
					%b Featured Listing Ads 
					are easy to create and seamlessly blended into renters search results.
				%p Leads and inquiries are sent directly to your inbox.

				%h4 Featured Listings Placement
				%p 
					Your Listing is
					%b Featured 
					within a neighborhood you specify and will consistently appear at the top of search results in front of a targeted list of renters who are looking for an apartment in the area.

				%h4 FRBO Tools On The Web
				%p Create, manage and advertise your listing on the dashboard through any web browser on either a computer or mobile phone.

				%h4 Listing URL That Does Not Expire
				%p Listing URL links are shareable and can exist on the site indefinitely. Share your listing with friends, family, on social media to gain maximum exposure.

				%h4 Video Exposure
				%p Upload video links directly onto the listing.
				%p Have a video tour of the apartment on your phone but don't feel like creating a video platform account? Send us your video file and we will upload it to our Youtube channel and provide you with a link to add to your listing.
		
		- if false
			.row.hidden
				.col-lg-6.col-md-6.col-xs-12=image_tag 'advertise/featured-listing.png', style: 'width: 100%;margin-top: 14px;'

				.col-lg-6.col-md-6.col-xs-12
					%h4 Create Your Listing. Get Inbound Leads.
					%p 
						%b Featured Listing Ads 
						are easy to create and seamlessly blended into renters search results.
					%p Leads and inquiries are sent directly to your inbox.

					%h4 Featured Listings Placement
					%p 
						Your Listing is
						%b Featured 
						within a neighborhood you specify and will consistently appear at the top of search results in front of a targeted list of renters who are looking for an apartment in the area.

					%h4 FRBO Tools On The Web
					%p Create, manage and advertise your listing on the dashboard through any web browser on either a computer or mobile phone.

					%h4 Listing URL That Does Not Expire
					%p Listing URL links are shareable and can exist on the site indefinitely. Share your listing with friends, family, on social media to gain maximum exposure.

					%h4 Video Exposure
					%p Upload video links directly onto the listing.
					%p Have a video tour of the apartment on your phone but don't feel like creating a video platform account? Send us your video file and we will upload it to our Youtube channel and provide you with a link to add to your listing.
		
		%hr

		.row
			.col-lg-12.col-md-12.col-xs-12
				%h3 Who We Work With
				%p 
					%b Individual Landlord Owners
					of apartments who manage the marketing and leasing processes and are looking for a supplemental platform to market and advertise their apartments. Includes multi-family dwellings such as Condos, Co-ops, Condops, Townhouses/Houses, Rental Buildings throughout Manhattan, Brooklyn, Queens, Bronx.

		%hr

		#why-wwt
			.row
				.col-lg-12.col-md-12.col-xs-12
					%h3 Why Advertise Your Listing On Transparentcity?
			
			.row
				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-level-up.fa-3x
					%h4 Increase Leads | Fill Vacancies
					%p Connect with active NYC renters who are explicitly looking for individual owners. Boost the exposure of your listing and increase the number of pageviews and leads a rental listing receives.

				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-clock-o.fa-3x
					%h4 Easy Setup
					%p Quickly post your listing through any web browser whether you are on a desktop computer or your mobile device.