<!-- <div id="blueimp-image-carousel<%=building.id%>" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides">
      
    </div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
</div>
<div class="hidden">
  <%# building.image_uploads.each do |upload| %>
    <%#= image_tag upload.image.url, class: "building-image#{building.id} building-images", data: { buildingid: building.id } %>
  <%#end%>
</div> -->