#leftSide{class: "#{contribute_left_side(params)} #{controller_name == 'home' and action_name == 'index' ? 'home' : ''}"}
  %nav.leftNav.scrollable
    .logo.search1.visible-xs
      %a{href: '/'}= image_tag 'logo1.png', alt: 'logo'
      .clearfix
    %ul
      %li.btn_contribute
        %a{href: contribute_buildings_path}
          %span.navIcon.fa.fa-plus-circle
          %span.navLabel Write a review
      - if current_user.blank?
        - if controller_name != 'sessions'
          %li
            %a.left-side-zindex{'data-target' => '#signin', 'data-toggle' => 'modal', href: '#'}
              %span.navIcon.fa.fa-sign-in
              %span.navLabel Sign In
        
        - if controller_name != 'registrations'
          %li
            %a.left-side-zindex{'data-target' => '#signup', 'data-toggle' => 'modal', href: '#'}
              %span.navIcon.fa.fa-user
              %span.navLabel Sign Up
      - if current_user&.admin?
        %li
          %a{href: '/buildings'}
            %span.navIcon.fa.fa-building
            %span.navLabel Buildings
        %li
          %a{href: '/units'}
            %span.navIcon.fa.fa-home
            %span.navLabel Units
        %li
          %a{href: '/listings'}
            %span.navIcon.fa.fa-list
            %span.navLabel Listings
        %li
          %a{href: '/users'}
            %span.navIcon.fa.fa-user
            %span.navLabel Users
        %li
          %a{href: '/documents'}
            %span.navIcon.fa.fa-file-o
            %span.navLabel Documents
        %li
          %a{href: '/reviews'}
            %span.navIcon.fa.fa-star
            %span.navLabel Reviews
        %li
          %a{href: '/neighborhood_links'}
            %span.navIcon.fa.fa-link
            %span.navLabel Neighborhood guides
        %li
          %a{href: management_companies_path}
            %span.navIcon.fa.fa-building
            %span.navLabel Management companies
        %li
          %a{href: '/price_ranges'}
            %span.navIcon.fa.fa-money
            %span.navLabel Price Range
        %li
          %a{href: featured_comps_path}
            %span.navIcon.fa.fa-money
            %span.navLabel Featured Comps

        %li
          %a{href: featured_buildings_path}
            %span.navIcon.fa.fa-money
            %span.navLabel Featured buildings
      
      - elsif (current_user and !current_user.has_role?(:admin)) or current_user.blank?
        %li
          %a{href: '/blog'}
            %span.navIcon.fa.fa-hashtag
            %span.navLabel Blog
        %li
          %a{href: '/about'}
            %span.navIcon.fa.fa-info-circle
            %span.navLabel About us
        %li
          %a{href: new_contact_path}
            %span.navIcon.fa.fa-comment
            %span.navLabel Send feedback
      - if current_user.present?
        %li
          %a{href: "#{saved_buildings_user_path(current_user)}"}
            %span.navIcon.fa.fa-heart
            %span.navLabel Saved buildings