<div class="infoW">
    <div class="propImg">
        <%= image_tag image , alt: 'Image'%>
    </div>
    <div class="paWrapper">
        <div class="propTitle"><%= building_link %></div>
        <div class="propAddress"><%= building.street_address %> <%= building.zipcode %></div>
    </div>
    <div class="clearfix"></div>
</div>