<div class="home-header">
  <div class="home-logo osLight">
    <a href="">
      <%= image_tag 'logo.png', alt: 'Logo' %>
      <span class="fa fa-home"></span>
    </a>
  </div>
  <%= render partial: 'layouts/shared/user_menu' %>
  <a href="javascript:void(0);" class="top-navHandler visible-xs"><span class="fa fa-bars"></span></a>
  <div class="top-nav">
    <div class="menu-top-menu-container">
      <ul id="menu-top-menu" class="menu">
        <li id="menu-item-225" class="xxx menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-225"><a href="http://mariusn.com/themes/reales-wp/">Home</a></li>
        <li id="menu-item-556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-556"><a href="#">Properties&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
          <ul class="sub-menu">
            <li id="menu-item-555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-555"><a href="">Properties List</a></li>
            <li id="menu-item-557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-557"><a href="">Single Property</a></li>
            <li id="menu-item-558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-558"><a href="">Search by City</a></li>
          </ul>
        </li>
        <li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="http://mariusn.com/themes/reales-wp/contact-us/">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>