<div class="results" id="apt-search-results">
  <!-- //Hiding not building link element in home.js-->
  <div class="no-match-link hidden"><p class="address"><a href="/buildings/contribute?results=no-matches-found"><b>No matches found - Add Your Building</b></a></p></div>
</div>