.popular-neighborhoods{style: 'display: none'}
  .pull-right{style: "padding: 4px; cursor: pointer;"}
    = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeHoods'
  = render 'layouts/home/popular_neighborhoods', :@modal_type => 'neighborhoods'