<meta charset="UTF-8">
<div class='thank-message'> Thank you for your bussiness! </div>
<div class='footer'>
	<p></p>
	<div class='signature'>
		<p> Transparentcity LLC </p>
		<p> 175 Varick St </p>
		<p> New York, NY 10014 </p>
	</div>
</div>

<style type="text/css">
	*{
		font-family: 'Open Sans', sans-serif, Arial !important;
	}
	.footer, .thank-message{
		width: 400px;
		margin: 0px auto;
	}
	.thank-message{
			text-align: center !important;
	}
	.signature p{
		padding: 2px !important;
		margin: 2px !important;
		text-align: center !important;
	}
</style>