- @border_class = 'bordered'
.similar{style: "#{@featured_buildings.present? ? 'padding: 0px;' : ''}"}
	.center.slider{class: "slides-#{slides_to_show}"}
		- properties = @similar_properties || @featured_buildings
		- properties.each do |building|
			%div= render 'buildings/detail_card', building: building

:css
	.slick-slide img {
		width: 100%;
	}

	.slick-prev:before,
	.slick-next:before {
		color: black;
	}

	.slick-slide {
		transition: all ease-in-out .3s;
	}

	.slides-1 .slick-slide {
		opacity: .6;
	}
  
	.slides-1 .slick-track .slick-active {
		opacity: .5;
	}
	.slides-2 .slick-track .slick-active {
		opacity: 1;
	}
	.slides-1 .slick-track .slick-current {
		opacity: 1;
	}
	.modal-full.past-listing-modal{
		padding-bottom: 10px;
	}
