%a.dropdown-toggle.no-hover-underline{href: '#', 'data-toggle' => 'dropdown'} 
	Tools
	%span.fa.fa-chevron-down

.dropdown-menu.userMenu.admin{role: 'menu'}
	%ul
		- tool_nav_helper.each do |item|
			%li= link_to item[:title], item[:url], class: 'font-16'