%a.dropdown-toggle.no-hover-underline.Header-navText#ToolsMenu{href: '#', 'data-bs-toggle' => 'dropdown'} 
	Tools

.dropdown-menu.userMenu.admin{role: 'menu', 'aria-labelledby' => 'ToolsMenu'}
	%ul
		- tool_nav_helper.each do |item|
			%li= link_to item[:title], item[:url], class: 'font-16'