<div class="headerUserWraper">
  <a href="#" class="no-hover-underline userHandler dropdown-toggle hidden" data-bs-toggle="dropdown"> Account </a>
  <a href="#" class="no-hover-underline headerUser1 dropdown-toggle no-hover-underline d-none d-md-block Header-navText" data-bs-toggle="dropdown" id="UserProfile">Account</a>
  
  <div class="dropdown-menu userMenu" role="menu" aria-labelledby='UserProfile'>
    <ul>
      <li><a href="<%= saved_buildings_user_path(current_user) %>"><span class="fa fa-heart"></span>Saved Buildings</a></li>
      <li><a href="<%= edit_user_path(current_user) %>"><span class="fa fa-gear"></span>Settings</a></li>
      <li class="divider"></li>
      <li><%= link_to '<span class="fa fa-power-off"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
    </ul>
  </div>
</div>