<div class="headerUserWraper">
  <a href="#" class="no-hover-underline userHandler dropdown-toggle hidden" data-toggle="dropdown"> Account <span class='fa fa-chevron-down'></span></a>
  <a href="#" class="no-hover-underline headerUser1 dropdown-toggle no-hover-underline hidden-xs" data-toggle="dropdown">Account <span class='fa fa-chevron-down'></span></a>
  
  <div class="dropdown-menu pull-right userMenu" role="menu">
    <ul>
      <li><a href="<%= saved_buildings_user_path(current_user) %>"><span class="fa fa-heart"></span>Saved Buildings</a></li>
      <li><a href="<%= edit_user_path(current_user) %>"><span class="fa fa-gear"></span>Settings</a></li>
      <li class="divider"></li>
      <li><%= link_to '<span class="fa fa-power-off"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
    </ul>
  </div>
</div>