!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{charset: "utf-8"}/
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/

		:css
			.contact-detail p{
				margin: 0px;
			}
  
	%body.notransition.no-hidden
		%p 
			Congratulations! You've taken your first step into saving yourself literally thousands of dollars in broker fees! 
		%p
			Keep searching on
			%a{href: 'https://www.transparentcity.co?utm_source=email&utm_medium=sender', target: '_blank'} transparentcity.co
			or 
			%a{href: 'https://www.transparentcity.co/buildings/contribute?utm_source=email&utm_medium=sender', target: '_blank'} write a review 
			of your building.
		.contact-detail
			%p="From: #{@contact_email}"
			%p="To: #{@building.email}"
			%p="Phone: #{@building.try(:phone)}"
		
		.message
			%p= simple_format(@contact.comment)