!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{charset: "utf-8"}/
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/

		:css
			.contact-detail p{
				margin: 0px;
			}
  
	%body.notransition.no-hidden
		%p Nice work on taking your first step towards saving yourself thousands of dollars in Agent fees! 
		%p Property Managers generally respond quickly but tend to receive lots of emails.  To better compete with other Renters, many who work directly with an Agent, we recommend being aggressive on your outreach to Property Managers.  If you do not hear back, follow up by sending another email to the address located in the body of this email in the 'To:' field.  We also recommend calling the Property Manager directly, an underutilized but effective method, telling them the building and apartment you are interested in. 
		%p
			Thank you for using our platform! In the meantime, keep browsing
			%a{href: 'https://www.transparentcity.co?utm_source=email&utm_medium=sender', target: '_blank'} Transparentcity
			for your next apartment.
		.contact-detail
			%p="From: #{@contact_email}"
			%p="To: #{@building.email}"
			%p="Phone: #{number_to_phone(@building.try(:phone), area_code: true)}"
		
		.message
			%p= simple_format(@contact.comment)