!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{charset: "utf-8"}/
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/

		:css
			.contact-detail p{
				margin: 0px;
			}
  
	%body.notransition.no-hidden
		%p 
			You have a new inquiry from 
			%a{href: "https://www.transparentcity.co?utm_source=email&utm_medium=receiver", target: '_blank'} transparentcity.co
			for
			%a{href: "https://www.transparentcity.co/buildings/#{@building.slug}?utm_source=email&utm_medium=receiver", target: '_blank'}= @building_name
		.contact-detail
			%p="From: #{@contact_email}"
			%p="Phone: #{@contact.phone.present? ? @contact.phone : 'Not mentioned'}"
		
		.message
			%p= simple_format(@contact.comment)