%p 
	You have a new inquiry for 
	%a{href: "https://www.transparentcity.co/buildings/#{@building.slug}?utm_source=email&utm_medium=receiver"}= @building_name

%p="From: #{@contact_email}"
%p="Phone: #{@contact.phone}"

%p= simple_format(@contact.comment)