<div class="tables">
	<div class="row">
		<div class="col-lg-8">
			<div class="media">
		    <div class="media-left">
		      <div class="media-body">
		      		<h1 class="pageTitle"><%= @management_company.name %></h1> 
		      	<div class="address text-muted"><%= link_to 'Website', @management_company.website, target: '_blank' %></div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-lg-4">
			<div class="pull-right">
			<%= link_to 'Edit', edit_management_company_path(@management_company), class: 'btn btn-default' %> </div>
		</div>	
	</div>
	<h2></h2>
	<div class="row">
		<%= render partial: 'managed_buildings' %>
	</div>
</div>