%li{style: "background: #fff;"}
  %a{href: "#{neighborhood_link.web_url}", target: "_blank"}
    .image= image_tag neighborhood_link.link_image, alt: 'Image'
    .info.text-nowrap1
      .name= neighborhood_link.title
      .address= neighborhood_link.source
    .clearfix