- if current_user&.has_role? :admin
  - if current_user.present?
    = render 'layouts/shared/admin_page_header', link_title: 'Add new Fetured Comp', link_url: new_featured_comp_path
  
  = render 'featured_comps/comps'
  
  .text-center
    = render 'layouts/shared/add_pagination', objects: @featured_comps

:css
  #sortable_filter{
    display: none;
  }