- if current_user&.has_role? :admin
	- if current_user.present?
		= render 'layouts/shared/admin_page_header', link_title: 'Add new Fetured Comp', link_url: new_featured_comp_path
  
	.mb-5
		= render 'featured_comps/comps'
  
	.text-center
		= pagy_bootstrap_nav(@pagy).html_safe

:css
	#sortable_filter{
		display: none;
	}