<div class="tables">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-overflow">
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th># of downloads</th>
            </tr>
          </thead>
          <tbody class="table table-bordered">
            <% @downloads.each do |download| %>
              <tr>
                <td><%= download.user.name.present? ? download.user.name : '' %></td>
                <td><%= download.user.email %></td>
                <td><%= download.total_user_downloads %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>