- unless mobile?
  #frbo-contact-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'NewUnitLabel', role: 'dialog'}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %h4.modal-title Contact Owner
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', type: 'button'}
          
        .modal-body.no-padding.me-3.ms-3.mt-3.mb-3
          = render 'featured_listings/contact_form'
- else
  .modal-full.frbo-contact-modal{style: 'display: none; background: #fff;'}
    .row{style: 'position: relative;'}
      .col-lg-12
        .text-center{style: 'border-bottom: 1px solid #ddd;'}
          %h4.text-center{style: 'margin-top: 10px; margin-bottom: 10px;'} Contact Owner

      .text-end.header{style: 'position: absolute; right: 15px; top: -1px;'}
        = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, 'javascript:;', class: 'closeContact'
    
    = render 'featured_listings/contact_form'