%div{style: 'padding: 10px; color: #fff;'}
	- VideoTour::CATEGORIES.each_with_index do |category, index|
		- video_tours = @video_tours[category[1]]
		- if video_tours.present?
			%p.font-16.font-bold
				=category[0]
			.row
				- video_tours.each do |video|
					- url = video.url
					.col-lg-4.image-gallery
						%p.font-14=video.try(:description)
						%a.propWidget-1{'data-caption' => video.try(:description), 'data-fancybox' => 'gallery', href: 'javascript:;', 'data-type' => 'iframe', 'data-src' => "#{url}?#{auto_play(url)}"}
							%div{style: "position:absolute;z-index:500;height:#{@vd_height}px;width:100%;"}
							%iframe{src: url, style: "width: 100%;height: #{@vd_height}px;border:none;", frameborder: '0', allowfullscreen: true }