%div{style: 'padding: 10px;'}
  - VideoTour::CATEGORIES.each do |category|
    .row
      %h4=category[0]
      - @video_tours.where(category: category[1]).each_with_index do |tour, index|
        - url = tour.url
        .col-lg-3
          %a.propWidget-1{caption: tour.description, 'data-fancybox' => 'gallery', href: "#{url}", 'data-type' => 'iframe', 'data-role' => 'slider'}
            %div{style: 'position:absolute;z-index:500;height:200px;width:100%;'}
            %iframe{src: url, style: 'width: 100%;height: 200px;border:none;'}
            
          / = link_to '<span class="fa fa-trash" />'.html_safe, tour, method: :delete, class: 'btn btn-danger btn-xs delete_image', data: { confirm: 'Are you sure?' }, remote: true
          / = link_to '<span class="fa fa-edit" />'.html_safe, edit_video_tour_path(tour), remote: true, class: 'btn btn-primary btn-xs edit_image'