%div.font-14{style: 'padding: 0px 0px 0px 11px; height: 22px;'}
	%span{style: 'color: #000;'}= "#{building.building_type} in" if building.building_type.present?
	= link_to building.neighborhood_name, borough_search_link(building.neighbohoods), class: 'hyper-link nb-link' if building.neighbohoods.present?

.clearfix