<div class="infoW">
	<%= link_to '#', style: 'color: #333;' do %>
    <div class="propImg animated-background" style='width: 230px !important; height: 137px;background-color: #ddd;'></div>
    <div class="paWrapper">
      <div class="propTitle animated-background" style='width: 100px !important; height: 15px;background-color: #ddd;'></div>
      <div class="propAddress animated-background" style='width: 150 !important; height: 15px;background-color: #ddd;'></div>
    </div>
	<%end%>
  
  <div class="propRating">
  	<ul class="cardRating list-inline">
  		<% 1.upto(5) do |num| %>
  			<li><%= image_tag 'star-off.png' %></li>
  		<%end%>
  	</ul>		  
	</div>
</div>

<style type="text/css">
	.paWrapper div{
		margin: 4px 0px;
	}
</style>