<!-- <table class="table table-bordered-none">
  <tr>
    <td><span>Building Reviews:</span>  <%#= building.reviews_count %></td>
    <td><span>Unit Reviews:</span> <%#= building.unit_reviews_count %></td>
  </tr>
  <tr>
    <td><span>Photos:</span> <%#=link_to "#{building.image_uploads.count}", building_uploads_path(building_id: building.id), 'data-no-turbolink' => false, style: 'color: #333;' %></td>
    <td><span>Rent Information:</span> <%#= building.rent_information %></td>
  </tr>
</table> -->