- buildings.each do |building|
	- @uploads = building.chached_image_uploads
	.col-xs-12.col-sm-12.col-md-6.col-lg-6
		- cache [building, params[:page], '1'] do
			= render 'buildings/detail_card', building: building