<div class="apt-search" id="apt-search-form">
	<% placeholder = 'Neighborhood, ZipCode, Address, Building, Management Company'%>
	<% if params[:action] == 'index' and params[:controller] == 'home' %>
		<!-- <div class="input-group"> -->
		<%= text_field_tag 'search_term', searched_term, class: 'form-control', placeholder: placeholder, style: 'border: 0px solid #333; -webkit-appearance: none; box-shadow: 1px 1px 15px rgba(0,0,0,0.6);' %>
		  <!-- <span class="input-magnifier"><a class="btn btn-blue"><span class="icon-magnifier"></span></a></span> -->
		<!-- </div> -->
	<%else%>
		<div class="hidden-xs icon-search-shared"><span class="icon-magnifier"></span></div>
		<%= text_field_tag 'search_term', searched_term, class: 'apt-search-text-shared', placeholder: placeholder %>
	<%end%>

	<%#= render partial: 'layouts/shared/no_match' %>
</div>