<%#= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search form-inline', role: 'form' do %>
  <div class="form-group">
    <!-- <input type="text" class="form-control" id="city" placeholder="City" autocomplete="off"> -->
    <%#= text_field_tag 'search_term', params['search_term'], class: "form-control", placeholder: 'Neighborhood, Zip Code, Address, Building name' %>
  	<%#= hidden_field_tag 'term', nil %>
  	<%#= hidden_field_tag 'neighborhoods', nil %>
  	<!-- <div class="results" id="apt-search-results" style="height: 300px; overflow-y: scroll;"></div> -->
  </div>
  <!-- <div class="form-group hidden-xs adv">
    <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
      <span class="dropdown-label">Bedrooms</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-select">
      <li class="active"><input type="radio" name="bedno" checked="checked"><a href="#">Bedrooms</a></li>
      <li><input type="radio" name="bedno"><a href="#">1</a></li>
      <li><input type="radio" name="bedno"><a href="#">2</a></li>
      <li><input type="radio" name="bedno"><a href="#">3</a></li>
      <li><input type="radio" name="bedno"><a href="#">4</a></li>
    </ul>
  </div>
  <div class="form-group hidden-xs adv">
    <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
      <span class="dropdown-label">Bathrooms</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-select">
      <li class="active"><input type="radio" name="bathno" checked="checked"><a href="#">Bathrooms</a></li>
      <li><input type="radio" name="bathno"><a href="#">1</a></li>
      <li><input type="radio" name="bathno"><a href="#">2</a></li>
      <li><input type="radio" name="bathno"><a href="#">3</a></li>
      <li><input type="radio" name="bathno"><a href="#">4</a></li>
    </ul>
  </div> -->
  <!-- <div class="form-group hidden-xs adv">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control price" type="text" placeholder="From">
    </div>
  </div>
  <div class="form-group hidden-xs adv">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control price" type="text" placeholder="To">
    </div>
  </div> -->
  <div class="form-group hidden-xs adv">
    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Rent</label></div>
  </div>
  <div class="form-group hidden-xs adv">
    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Sale</label></div>
  </div>
  <div class="form-group">
    <!-- <a href="explore.html" class="btn btn-green">Search</a> -->
    <%#= submit_tag 'Search', class: 'btn btn-blue' %>
    <!-- <a href="#" class="btn btn-o btn-white pull-right visible-xs" id="advanced">Advanced Search <span class="fa fa-angle-up"></span></a> -->
  </div>
<%#end%>