<div id="hero-container">
  <%= render 'layouts/home/slider' %>
  <%= render 'layouts/home/header' %>
  <%#= render 'layouts/home/caption' %>
  <div class="search-panel">
    <%= render 'layouts/home/search_panel' %>
  </div>
</div>
<div class="highlight">
  <div class="h-title osLight">transparentcity</div>
  <div class="h-text osLight">transparentcity is a platform that publishes crowd sourced rental reviews, pricing and photos with the idea of providing transparency into the New York City rental market from the consumer perspective.</div>
</div>

<!-- Content -->
<%#= render 'layouts/home/content' %>
<%= render 'layouts/home/footer' %>
<%#= render partial: 'home/tos' %>