<h1>TranspaRENTcity</h1>

<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-8">
			<ul class="list-inline">
				<li><%= link_to "Building List", buildings_path %></li>
				<li><%= link_to "Reviews", reviews_path %></li>
				<li><%= link_to "Units", units_path %></li>
			</ul>
		</div>
		
		<%= render partial: 'search' %>
	</div>
</div>