//$('#load-more-buildings').html('');
//$('.map_script').html('');
//$('#load-more-buildings').html('<%#= escape_javascript(render partial: "home/search_results", locals: { buildings: @per_page_buildings }) %>');
//$('.map_script').html('<%#= escape_javascript(render partial: "home/map_script", locals: { building_hash: @hash, lat: @lat, lng: @lng, zoom: @zoom }) %>');
// build_map(true, false);
// load_rating_stars();

// $('.pagination a').attr('data-remote', 'true');
//load_rating_stars();
<%#= render partial: 'home/map_script' %>
<%# if @buildings.next_page %>
  //$('.pagination').replaceWith('<%#= j will_paginate @buildings %>');
<%# else %>
  //$(window).off('scroll');
  //$('.pagination').remove();
  //var no_match = '<div style="padding:4px;"><p class="address"><a href="/buildings/contribute?results=no-matches-found" style="color: #0075c9;"><b>No matches found? - Add Your Building</b></a></p></div>'
  //$('.pages-container').html(no_match)
<%# end %>
//$('.building-detail-card').html('');
//var json_array = <%#=# raw @hash.to_json %>;
//build_map(true, true, json_array); //Building map on infinite scroll load
//load_rating_stars();
