<%- seo_tab_title ('Terms Of Service') %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 offset-2 offset-2">
  	<div class="tos_box">
    	<h1>Transparentcity Terms of Service, Privacy Policy and Advertising Terms</h1>
			<br/>
			<h2>Terms of Service</h2>
			<p>By accessing the website at <a href="https://www.transparentcity.co">www.transparentcity.co</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>

			<h3>1. Use License</h3>

		  <ol type="a">
		    <li>
		      Permission is granted to temporarily download one copy of the materials (information or software) on transparentcity llc's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:

		      <ol type="i">
		        <li>modify or copy the materials;</li>
		        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
		        <li>attempt to decompile or reverse engineer any software contained on transparentcity llc's website;</li>
		        <li>remove any copyright or other proprietary notations from the materials; or</li>
		        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
		      </ol>
		    </li>
		    <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by transparentcity llc at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
		  </ol>

			<h3>2. Disclaimer</h3>

		  <ol type="a">
		    <li>The materials on transparentcity llc's website are provided on an 'as is' basis. transparentcity llc makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
		    <li>Further, transparentcity llc does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
		  </ol>

			<h3>3. Limitations</h3>

			<p>In no event shall transparentcity llc or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on transparentcity llc's website, even if transparentcity llc or a transparentcity llc authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

			<h3>4. Accuracy of materials</h3>

		  <p>The materials appearing on transparentcity llc's website could include technical, typographical, or photographic errors. transparentcity llc does not warrant that any of the materials on its website are accurate, complete or current. transparentcity llc may make changes to the materials contained on its website at any time without notice. However transparentcity llc does not make any commitment to update the materials.</p>

			<h3>5. Links</h3>

		  <p>transparentcity llc has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by transparentcity llc of the site. Use of any such linked website is at the user's own risk.</p>

			<h3>6. Modifications</h3>

		  <p>transparentcity llc may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

			<h3>7. Governing Law</h3>

		  <p>These terms and conditions are governed by and construed in accordance with the laws of New York and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

			<h2>Privacy Policy</h2>

		  <p>Your privacy is important to us.</p>

		  <p>It is transparentcity llc's policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.</p>

		  <ul>
		    <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
		    <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
		    <li>We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
		    <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
		    <li>We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
		    <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
		    <li>We will only retain personal information for as long as necessary for the fulfilment of those purposes.</li>
		  </ul>

			<p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. transparentcity llc may change this privacy policy from time to time at transparentcity llc's sole discretion.</p>
			
			<h2>Advertising Terms</h2>
			<p>By agreeing to these Advertising Terms (<b>Terms of Service</b>), you, the Client or on behalf of the Client, represent and warrant that you have full legal power and authority to enter into these Terms of Service, perform the obligations hereunder, and authorize and pay the fee payments set forth in the Purchase Order, as defined below. Any capitalized terms used but not defined in these Terms of Service shall have the respective meanings ascribed to them in the Purchase Order.</p>

			<h3>1. Ad Programs</h3>
			<p>These Terms of Service apply to the advertising programs and services (<b>Ad Programs</b>) that Client purchases from transparentcity from time to time in connection with transparentcity’s websites, other third-party properties, or as otherwise agreed to by the parties (collectively the <b>Site</b>) pursuant to these Terms of Service.<p>
			<p>Each Ad Programs purchase will be set forth in an online purchase order that identifies and describes the Ad Programs purchased, Ad Program descriptions, Client details, applicable fees, the date the Ad Program starts (<b>Service Start Date</b>), the duration of the advertising commitment, (<b>Commitment Period</b>), and any renewal terms, among other information (collectively the <b>Purchase Order</b>). Each agreed upon Purchase Order is governed by and incorporated into these Terms of Service (and collectively form the <b>Advertising Agreement</b>), and Client’s initial Purchase Order is hereby incorporated by references to these Terms of Service. Transparentcity may at any time replace features associated with any Ad Program with features of substantially similar value. The Ad Programs are provided to Client in New York, NY.<p>
			<p><b>'Featured' Upgrades:</b> allows Client to purchase premium features in connection with buildings they manage, such as selecting which building to feature at the top of search results, selecting which building to feature as a comp on competitive building pages.  Other miscellaneous features provided are defined on the Offering Kit provided to Client.</p>
			<h3>2. Fees and Payment</h3>
			<p>Client will pay transparentcity the fees specified in each Purchase Order for the duration set forth in the Purchase Order, and if not so specified, then, for the duration transparentcity is providing the Ad Programs to the Client. The fees are fixed for the duration of any Commitment Period specified in each Purchase Order, if applicable.  All fees are net of any excise, sales, use, value added or other taxes, assessments, tariffs, fines, penalties or duties that Client may be required to pay by any federal, state, local, provincial or foreign jurisdictions (collectively, <b>Taxes</b>). The amount transparentcity charges Client may be subject to Taxes and Client is responsible for bearing and remitting any Taxes that apply to Client’s transactions. 
			If Featured Upgrades is purchased individually as set forth in a Purchase Order, transparentcity may require that all fees be paid in advance in monthly installments. If Client purchases an Ad Program outside of monthly installments, some fees maybe prorated.  All charges processed for Purchase Orders are non-refundable.   
			All of our payments are processed by Stripe, a third party service provider. Please review Stripe’s FAQ should you have any questions or concerns about your credit card payment information (<a href="https://stripe.com/help/security" target='new'>https://stripe.com/help/security</a>) or bank transfer information (<a href="https://stripe.com/docs/sources/ach-credit-transfer" target='new'>https://stripe.com/docs/sources/ach-credit-transfer</a>). Stripe may require additional personal information in order to process payments.  All personal information disclosed to Stripe will be subject to Stripe’s privacy policy (<a href="https://stripe.com/us/privacy" target='new'>https://stripe.com/us/privacy</a>), and all transactions processed by Stripe will be subject to Stripe’s terms of use, which you should review closely. Stripe will use your payment information and contact information to generate receipts in connection with payment for Ad Programs provided by transparentcity. </p>
			<p>Payment information is used only for payment purposes. We do not store full credit card or other banking information on transparentcity servers and do not have access to this information.</p>

			<h3>3. Term and Termination</h3>
			<p>These Terms of Service become effective between the parties as of the date Client executes the Purchase Order by clicking on an Order Form purchase button (the <b>Effective Date</b>). Each Purchase Order will be deemed effective as of the Effective Date and will remain in effect until it expires as set forth in the applicable Purchase Order or is terminated as provided below.</p>
			
			<p><b>Automatic Renewal of Term:</b> Purchase Orders will automatically renew after a Commitment Period.  The Advertising Agreement will renew on a month-to-month basis after the end of the Commitment Period until notice of termination is provided by Client or transparentcity in accordance with the below subsections.</p>
			
			<p><b>How to Terminate a renewal Purchase Order:</b> Client may terminate the Purchase Order by providing written notice to transparentcity’s team via email to <a href="mailto:hello@transparentcity.co">hello@transparentcity.co</a> . If Client provides such written notice on or before the 15th day of the month, then the Purchase Order will terminate at the end of that month. If Client provides written notice after the 15th day of the month, then the Purchase Order will terminate at the end of the following month.  For example, if Client provides written notice to terminate the Purchase Order via email on August 15th, the Purchase Order will terminate on August 31st. If Client provides written notice to terminate such Purchase Order via email on August 16th, the Purchase Order will terminate on September 30th.</p>
			<p><b>Early Termination:</b> Transparentcity may terminate any Purchase Order or the Advertising Agreement (which also terminates any and all underlying Purchase Orders) at any time for any or no reason without liability, effective immediately, by providing written notice to Client, including via the email address provided by Client to transparentcity. </p>
			
			<p>In the event of such termination, Client will pay all unpaid fees incurred through the date of termination within thirty (30) days of receipt of such notice of termination, and transparentcity will reimburse any fees that were prepaid for Ad Programs to be rendered after the date of such termination. If Client’s Purchase Order specifies that it does not automatically renew after the Commitment Period, the Purchase Order will automatically terminate at the end of the Commitment Period. Otherwise, the Purchase Order will renew on a month-to-month basis after the end of the Commitment Period.</p>
		</div>
  </div>
</div>

<style type="text/css">
	.tos_box{
	    padding: 10px 20px;
	    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
	    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.tos_box p, .tos_box li {
	    font-size: 14px;
	    line-height: 22px;
	}

	.tos_box h1{
	    font-size: 30px;
	    line-height: 1.2em;
	}

	#tos:hover{
	    color: #ddd;
	    text-decoration: underline;
	}
</style>

<script type="text/javascript">
	$('.tos_box a').addClass('hyper-link')
</script>