<%= content_for :html_title, @category.name %>

<!-- Category name -->
<h2><%= @category.name %></h2>

<!-- Recent posts -->
<!-- <h4>Posts</h4> -->

<% @category.recent_posts.each_with_index do |post, index| %>
	<% @count = index %>
  <%= render 'buttercms/posts/post', :post => post %>
<% end %>