- active_listings = building.listings.select(:id, :active).active
.contact-links
	- if building.all_three_cta?(active_listings)
		.c-links
			%section
				=check_availability_button(building.web_url, 'btn-o')
			%section
				=active_listings_button(building, on_click, 'btn-o', active_listings)

		.d-block
			=contact_leasing_button(building, on_click, 'btn-block')

	- elsif building.availability_and_contacts_cta? and active_listings.blank?
		.d-block.h-42
		.c-links
			%section
				= contact_leasing_button(building, on_click, 'btn-block')
			%section
				=check_availability_button(building.web_url, 'btn-o')

	- elsif building.active_web_url? and active_listings.present? and !building.has_active_email?
		.d-block.h-42
		.c-links
			%section
				=check_availability_button(building.web_url, 'btn-block')
			%section
				=active_listings_button(building, on_click, 'btn-o', active_listings)

	- elsif !building.active_web_url? and active_listings.present? and building.has_active_email?
		.d-block.h-42
		.c-links
			%section
				= contact_leasing_button(building, on_click, 'btn-block')
			%section
				=active_listings_button(building, on_click, 'btn-o', active_listings)

	- elsif building.active_web_url? and active_listings.blank? and !building.has_active_email?
		.c-links.h-42
		.d-block
			=check_availability_button(building.web_url, 'btn-block')

	- elsif !building.active_web_url? and active_listings.blank? and building.has_active_email?
		.c-links.h-42
		.d-block
			= contact_leasing_button(building, on_click, 'btn-block')
	- else
		.d-block.h-42.invisible
			=check_availability_button(building.web_url, 'btn-block')
		.c-links