- if !mobile?
  #newConactModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ContactModal', role: 'dialog', tabindex: '-1'}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %h5.modal-title#ContactModal Contact Property Manager
          = close_button
        
        .modal-body.no-padding
          = render 'contacts/contact_building_form'
- else
  .modal-full.lease-contact-modal{style: 'display: none; background: #fff;'}
    .row{style: 'position: relative;'}
      .col-lg-12
        .text-center{style: 'border-bottom: 1px solid #ddd;'}
          %h4.text-center{style: 'margin-top: 10px; margin-bottom: 10px;'} Contact Property Manager

      %div.text-right.header.visible-xs{style: 'position: absolute; right: 15px; top: -1px;'}
        = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, 'javascript:;', class: 'closeContact'
    
    = render 'contacts/contact_building_form'