- if !browser.device.mobile?
  #newConactModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "NewUnitLabel", role: "dialog"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Contact Form
        .modal-body.no-padding
          = render 'contacts/contact_building_form'
- else
  .modal-full{style: 'display: none; background: #fff;'}
    .row{style: 'position: relative;'}
      .col-lg-12
        .text-center{style: 'border-bottom: 1px solid #ddd;'}
          %h3.text-center{style: 'margin-top: 10px; margin-bottom: 10px;'} Contact Form

      %div.text-right.header.visible-xs{style: 'position: absolute; right: 10px; top: 5px;'}
        = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeContact'
    
    = render 'contacts/contact_building_form'