<div class=" tables" style="padding-top: 0px;margin-left: 0px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
    	<div class="tos_box">
				<h3>Mission</h3>

				<p><b>For Apartment Seekers:</b> To bring you shared experiences and opinions on NYC neighborhoods, management company landlords, apartments and buildings.</p>

				<p><b>For New Yorkers:</b> To give users a platform to share their NYC apartment experiences with the community. </p>

				<h3>About Us</h3>

				<p>Transparentcity launched with the goal to aggregate and standardize the scattered and hard to find information on NYC apartments.</p>

				<p><b>We can answer questions such as: </b></p>
				
				<p>- How many apartment buildings are there that I can rent directly from?</p>
				<p>- Where are the apartment buildings located that I can rent directly from?</p>
				<p>- What is the website and contact information of the companies whom I can rent directly from?</p>

				<p>We are also a reviews based platform that enables the community to provide a clearer/accurate picture on many of the 250,000+ multi residential buildings and 300 neighborhoods in NYC. There are millions of people living in this wonderful city each with varying experiences; good, bad and neutral. However, there is no New York centric standard platform for them to share those experiences. There are thousands of people considering moving into or around NYC everyday who want to know more about those detailed experiences.</p>
				<br />
				<ul class="footer-nav pb20">
		      <li class="footer-address">
		          <p>We are a small shop based in NYC’s SoHo.  </p>
		          <p>Starting up @ wework labs</p>
		          <p>175 Varick St, New York, NY 10014</p>
		      </li>
		  	</ul>
		  </div>
		</div>
	</div>

</div>
<div class="about_us"></div>
