#about
	.about-content
		.row.header-row
			.col-lg-6.col-md-6.col-xs-12
				%h2{style: 'font-weight: bolder;'} How We Differentiate
		.row.pb
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-1.col-md-1.col-xs-12
						.text-center
							%span.fa.fa-info.fa-3x
					.col-lg-11.col-md-11.col-xs-12
						.header Complete Data Transparency
						%section Source information for every no fee management company: listings, pictures, websites, building addresses, contact information and links to online applications all centralized on one platform.
			.col-lg-6.col-md-6.col-xs-12

		.row.pb
			.col-lg-6.col-md-6.col-xs-12
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-1.col-md-1.col-xs-12
						.text-center
							%span.fa.fa-copy.fa-3x
					.col-lg-11.col-md-11.col-xs-12
						.header Fully Vetted Information
						%section Listings are copied directly from management company websites and researched internally. 0 bait and switch, 0 duplicate listings. This practice ensures listings accuracy and provides a clearer perspective on the no fee management company rental market while removing some of the notorious frustrations associated with apartment hunting. 

		.row.pb
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-1.col-md-1.col-xs-12
						.text-center
							%span.fa.fa-building.fa-3x
					.col-lg-11.col-md-11.col-xs-12
						.header Exclusivity To 'No Fee' Property Managers
						%section All listings, website links, contact info that are provided are for no fee managed apartments only. Our chief criteria is the manager must have a website with listings that can be shown to renters as 'proof' that Transparentcity connects renters to the source.
			.col-lg-6.col-md-6.col-xs-12

		.row.pb
			.col-lg-6.col-md-6.col-xs-12
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-1.col-md-1.col-xs-12
						.text-center
							%span.fa.fa-dollar.fa-3x
					.col-lg-11.col-md-11.col-xs-12
						.header Enablers Of 4 Figure Rental Incentives
						%section Management companies offer $ incentives to direct renters, which often get flipped into fees by middlemen. Even though thousands of listings are advertised as 'no fee' on other websites, many are masking the transfer of those incentives, resulting in thousands of dollars that renters are not getting. We help renters keep their incentives.

	#location-and-press
		.row
			.location-and-press
				.col-lg-6.col-md-6.col-xs-12
					%h2{style: 'font-weight: bolder;'} Location
					%p 175 Varick Street
					%p New York, NY 10014

				.col-lg-6.col-md-6.col-xs-12
					%h2{style: 'font-weight: bolder;'} Press
					%p 
						We have lots of data to share. If you are looking for data points for a story or simply want to chat, don't hesitate to
						%a{href: 'mailto: hello@transparentcity.co'}
							%b reach out. 

