<div class="tables">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    	<div class="pc-title osLight">Send feedback</div>
			<%= render 'form' %>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden-xs hidden-sm">
			<p>Here are four reasons why feedback is so important.</p>

			<p><b>Feedback is effective listening.</b> Whether the feedback is done verbally or via a feedback survey, the person providing the feedback needs to know they have been understood (or received) and they need to know that their feedback provides some value. When conducting a survey, always explain why respondents’ feedback is important and how their feedback will be used.</p>
			
			<p><b>Feedback can motivate.</b> By asking for feedback, it can actually motivate us to perform better.And feedback from client, suppliers, vendors, and stakeholders can be used to motivate to build better working relations.</p>
			
			<p><b>Feedback can improve performance.</b> Feedback is often mistaken for criticism. In fact, what is viewed as negative criticism is actually constructive criticism and is the best find of feedback that can help to formulate better decisions to improve and increase performance.</p>
			
			<p><b>Feedback is a tool for continued learning.</b> Invest time in asking and learning about how others experience working with your organization. Continued feedback is important across the entire organization in order to remain aligned to goals, create strategies, develop products and services improvements, improve relationships, and much more. Continued learning is the key to improving.</p>
		</div>
	</div>
</div>
