<div class="panel panel-default" id="amenities">
  <div class="panel-heading"><b>BUILDING AMENITIES</b></div>
  <div class="panel-body">
  	<%= render partial: 'building_amenities', locals: { building: @building } %>
  </div>
</div>