<div class="row">
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
		<%= set_bed_ranges(@building) %>
	</div>
	
	<%# unless action_name == 'show' && controller_name == 'buildings' %>
		<!-- <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 text-left"> -->
			<%# active_listings = building.listings.active %>
			<!-- <span class="font-xs"> -->
				<%#= "#{active_listings.count} Active Listings" if active_listings.present? %>
			<!-- </span> -->
		<!-- </div> -->
	<%#end%>
</div>