/ - @min_saved_amount = building.min_save_amount(@rent_medians, @broker_percent)
- if building_counter == 4 && @agent.present?
	= render 'featured_agents/agent', agent: @agent
	.col-xs-12.col-sm-12.col-md-6.col-lg-6= render 'buildings/detail_card', building: building
- else
	.col-xs-12.col-sm-12.col-md-6.col-lg-6= render 'buildings/detail_card', building: building