.col-xs-12.col-sm-12.col-md-6.col-lg-6
	- @image_uploads = building.image_uploads
	- @min_saved_amount = building.min_save_amount(@broker_percent)
	= render 'buildings/detail_card', building: building