<% @building ||= building %>
<div class="amenities show-section">
  <h3>Building Amenities
    <%= link_to 'Edit', "/building_steps/building_information?building_id=#{@building.id}", class: 'btn btn-o btn-default btn-xs float-end' if current_user&.has_role? :admin %>
  </h3>
  
  <div class="row">
    <% @building.sorted_amenities.each do |amenity| %>
      <% value = Building.building_amenities[amenity.to_sym] %>
      <div class="col-6 col-md-4 col-lg-4 amItem font-14">
        <span><%= image_tag "amenities_icons/#{amenity}.png", width: '16', height: '16', alt: "#{@building.street_address} #{value}" %></span>
        <% if value == 'Elevator' %>
          <%= "#{value}(#{@building.elevator})" %>
        <%else%> 
          <%= amenity != 'no_fee' ? value : 'No Fee Building' %>
        <%end%>
      </div>
    <%end%>
  </div>
</div>