.col-xs-12.col-sm-12.col-md-6.col-lg-6
	- @image_uploads = @photos.present? ? @photos.where(imageable_id: building.id, imageable_type: 'Building') : []
	- @min_saved_amount = building.min_save_amount(@rent_medians, @broker_percent)
	= render 'buildings/detail_card', building: building