<% @building ||= building %>
<div class="amenities">
  <h3>Building Amenities</h3>
  <div class="row">
    <% building_amenities.sort.to_h.each_pair do |k, v| %>
      <%if @building[k].present? %>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem">
          <span><%= image_tag "amenities_icons/#{v}.png" %></span>
          <% if v == 'Elevator' %>
            <%= "#{v}(#{@building.elevator})" %>
          <%else%> 
            <%= v %>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
</div>