<% if params[:filter].present? %>
  <%= hidden_field_tag :list_amenities,   params[:filter][:amenities] %>
  <%= hidden_field_tag :list_bedrooms,    params[:filter][:listing_bedrooms] %>
  <%= hidden_field_tag :list_min_price,   params[:filter][:min_price] %>
  <%= hidden_field_tag :list_max_price,   params[:filter][:max_price] %>
<%end%>

<script type="text/javascript">
  // favourite script for market infowindow
    
  $('.unfilled-heart').mouseover(function(){
    var notFav = $('.unfilled-heart').find('span');
    if(!notFav.hasClass('hover')){
      notFav.addClass('hover');
    }
  });

  // adding mouseover effect once leave
  function addLeaveEffect(object_id, elem){
    var to_replace = $(elem);
    var replace_with = '<a class="favourite save_link_'+object_id+' unfilled-heart" title="Save" data-objectid="'+object_id+'"  href="javascript:;" onclick="saveToFavourite('+object_id+')" onmouseover="addHoverEffect('+object_id+', this)"><span class="fa fa-heart"></span></a>';

    replace_link(to_replace, replace_with);
  }
  
  function removeHoverEffect(id){} //for declare purpose only

  function addHoverEffect(object_id){
    var notFav = $('.unfilled-heart').find('span');
    if(!notFav.hasClass('hover')){
      notFav.addClass('hover');
    }
  }

  function saveToFavourite(object_id){
    var save_link = $('.save_link_'+object_id);
    var unfav_link = '<a class="favourite save_link_'+object_id+' filled-heart" title="Unsave" data-objectid="'+object_id+'"  href="javascript:;" onclick="removeFromFavourite('+object_id+')"><span class="fa fa-heart"></span></a>';

    $.ajax({
      url: '/favorite?object_id='+object_id,
      type: 'post',
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      dataType: 'json',
      success: function(response){
        replace_link(save_link, unfav_link)
      }
    });
  }

  function removeFromFavourite(object_id){
    var save_link = $('.save_link_'+object_id);
    var fav_link = '<a class="favourite save_link_'+object_id+' unfilled-heart" title="Save" data-objectid="'+object_id+'"  href="javascript:;" onclick="saveToFavourite('+object_id+')" onmouseleave="addLeaveEffect('+object_id+', this)"><span class="fa fa-heart"></span></a>';

    $.ajax({
      url: '/unfavorite.json',
      type: 'get',
      dataType: 'json',
      data: { object_id: object_id },
      success: function(response){
        replace_link(save_link, fav_link);
      }
    });
  }

  function replace_link(to_replace, replace_with){
    to_replace.replaceWith(function(){
      return replace_with
    });
  }

  function openSuModal(e, object_id){
    e.preventDefault();
    e.stopPropagation();
    $.ajax({
      url: '/favorite?object_id='+object_id,
      type: 'post',
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      dataType: 'script',
      success: function(response){
        //console.log('success')
      }
    });
  }
  //END favorite script

  $("a.unfilled-heart").click(function (event) {
    if(this.dataset.remote != 'true'){
      event.preventDefault();
      event.stopPropagation();
    }
  });

  function agentContactForm(agent_id){
    displayLoader();
    $.ajax({
      url: '/featured_agents/'+agent_id+'/contact',
      type: 'get',
      dataType: 'json',
      success: function(response){
        $('#remote-container').html(response.contact_form_html);
        hideLoader();
        if($('.contact-agent-modal').length > 0){
          $('.contact-agent-modal').slideDown(200);
          $('.closeContact').click(function(e) {
            e.stopPropagation();
            $('.contact-agent-modal').slideUp(200);
          });
        }else{
          $('#contactAgentModal').modal('show');
        }
      },
      error: function(res){
        console.log(res);
        hideLoader();
      }
    });
  } 

  function showLeasingContactPopup(building_id){
    displayLoader();
    $.ajax({
      url: '/contacts/new?building_id='+building_id,
      type: 'get',
      dataType: 'script',
      success: function(response){
        hideLoader();
      }
    });
  }

  function showActiveListingsPopup(building_id){
    $('#remote-container').html('');
    var filter_params = {
      amenities:        $('#list_amenities').val(),
      listing_bedrooms: $('#list_bedrooms').val(),
      min_price:        $('#list_min_price').val(),
      max_price:        $('#list_max_price').val(),
    };

    displayLoader();
    $.ajax({
      url: '/listings/show_more',
      type: 'get',
      dataType: 'script',
      data: { 
              building_id: building_id, 
              listing_type: 'active', 
              filter_params: filter_params 
            },
      success: function(response){
        hideLoader();
      }
    });
  }
</script>

<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">