<div class="pull-right" style="padding-right: 8px;font-size: 22px;">
  <%= heart_link(building, current_user) if user_signed_in? %>
  <%#= link_to heart_icon, '/users/sign_in', class: "save_link_#{building.id}" if !user_signed_in? %>
  <%= link_to heart_icon, 'javascript:;', class: "save_link_#{building.id} modal-su favourite #{saved_color_class(building)}" if !user_signed_in? %>
</div>