<div class="fav-div pe-1">
  <%= heart_link(building, current_user) if user_signed_in? %>
  <%= content_tag 'div', heart_icon, class: "save_link_#{building.id} favourite #{saved_color_class(building)}", onclick: "openSuModal(event,#{building.id});" if !user_signed_in?%>
</div>