<div id="carouselFull" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
    <li data-target="#carouselFull" data-slide-to="1"></li>
    <li data-target="#carouselFull" data-slide-to="2"></li>
    <li data-target="#carouselFull" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <% if @building.uploads.present? %>
      <% @building.uploads.each_with_index do |asset, index| %>
        <div class="item <%= index == 0 ? 'active' : ''%>">
          <%= image_tag asset.image.url, alt: "" %>
          <div class="container">
              <div class="carousel-caption">
                  
              </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
  <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
</div>