= render 'layouts/shared/admin_page_header', link_title: 'Add new building', link_url: new_building_path
- cache [@buildings, params[:page]] do
	= render 'buildings/buildings', buildings: @buildings

.text-center.mt-5= pagy_bootstrap_nav(@pagy).html_safe