.contact-links
  - unless agent.website.blank?
    .c-links{style: 'height: 19px;'}
    .c-links
      %section= work_with_button(agent)
      %section= link_to "#{agent.first_name}'s Profile", agent.website, class: 'btn btn-primary btn-o btn-round', target: '_blank', rel: rel
  - else
    .c-links{style: 'height: 19px;'}
    %section.d-block= work_with_button(agent, 'btn-block')