.contact-links
	- unless agent.website.blank?
		.c-links
			%section= work_with_button(agent)
			%section= link_to "#{agent.first_name}'s Profile", agent.website, class: 'btn btn-primary btn-o btn-round', target: '_blank', rel: rel
	- else
		.d-block= work_with_button(agent, 'btn-block')

:css
	.cta_buttons.featuredAgent {
		min-height: 98px;
		max-height: 98px;
		position: relative;
	}
	.cta_buttons.featuredAgent .contact-links {
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	.cta_buttons.featuredAgent .contact-links .d-block{
		padding-bottom: 7px;
	}

	.cta_buttons.featuredAgent .contact-links .c-links > section{
		overflow-x: auto;
	}