- if current_user.has_role? :admin
  - if current_user.present?
    - @featured_by = 'admin'
    = render 'layouts/shared/admin_page_header', link_title: 'Add New Featured Agent', link_url: new_featured_agent_path(featured_by: @featured_by)
  
  = render 'featured_agents/agents'
  
  .text-center.mt-4= pagy_bootstrap_nav(@pagy).html_safe


:css
  #sortable_filter{
    display: none;
  }