<% if params[:type] == 'billing' %>
	<div class='row'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-3'>
			<%= render 'billings/form' %>
		</div>
	</div>
<%elsif params[:type] == 'add_new_card' %>
	<%= render 'billings/add_card_form' %>
<%else%>
	<%= render 'form' %>
<%end%>

<script type="text/javascript" src="https://js.stripe.com/v3/">
  Stripe.setPublishableKey("<%= STRIPE_PUBLIC_KEY %>");
</script>
