.row
	.col-lg-6.col-md-6.col-xs-12
		= image_tag 'server_error.png', style: 'width: 100%; height: auto;'
	
	.col-lg-6.col-md-6.col-xs-12
		.text-center{style: 'margin-top: 25vh;'}
			.vh-center
				%h1{style: 'font-size: 50px;'} Hmm.....

				%h3 Looks Like Something Went Wrong

				%p Don't Worry we're working on it!
			%br
			%br
			%br
			%br
			%br
			%br
			= link_to 'Go To Home Page', root_path, class: 'btn btn-primary'
