.row
	.col-lg-4

	.col-lg-4
		.text-center{style: 'margin-top: 25vh;'}
			%h1 404
			%h3 Oops! Address not Found.
			%br
			= link_to 'Go To Home Page', root_path, class: 'btn btn-primary'

	.col-lg-4