<%- seo_tab_title ('Sign In') %>
<div class="login-form authentication-form" id="page-login">
  <h3><%= 'Please sign in / sign up to upload photos.' if params[:contribution] == 'building_photos' %></h3>
  <%= render partial: 'new' %>
</div>