<div id="hero-container-blog" class="hero-container-blog-<%=params[:action]%>">
    <% if @post.present? %>
        <div id="carouselBlog" class="carousel slide featured" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-color: #f3f3f3;">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="carousel-title"><%=@post_categories.first.try(:name) %></div>
                            <div class="caption-title"><%= @post.title if @post.title.present? %></div>
                            <div class="p-n-articles hidden">
                                <div class="p-article">
                                    <div class="pna-title">Previous article</div>
                                    <a href="#">Why Green Architecture Is The Perfect Investment for Your Home</a>
                                </div>
                                <div class="n-article">
                                    <div class="pna-title">Next article</div>
                                    <a href="#">Practical Lighting Size & Placement Guide for Every Corner of the House</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
    
    <!-- Header -->

    <div class="home-header">
        <a href='/blog'><div class="home-logo osLight"><span class="fa fa-home"></span><strong class="hidden-xs"> blog</strong></div></a>
        <div class="logo osLight"><a href="/"><%=image_tag 'logo1.png', alt: 'logo', width: '200' %></a></div>
        <div class="blog-nav hidden">
            <ul>
                <li><a href="index.html">App Home</a></li>
                <li><a href="blog.html">Featured</a></li>
                <li><a href="blog.html">Latest</a></li>
                <li><a href="blog-post.html">Single Post</a></li>
            </ul>
        </div>
    </div>
</div>