.row
  .field
    #example2-card-number.input.empty
    %label{"data-tid" => "elements_examples.form.card_number_label", for: "strp-form2-card-number"} Card number
    .baseline
.row
  .field.half-width
    #example2-card-expiry.input.empty
    %label{"data-tid" => "elements_examples.form.card_expiry_label", for: "strp-form2-card-expiry"} Expiration
    .baseline
  .field.half-width
    #example2-card-cvc.input.empty
    %label{"data-tid" => "elements_examples.form.card_cvc_label", for: "strp-form2-card-cvc"} CVC
    .baseline