.row
  .field{style: 'width: 96%;'}
    #example2-card-number.input.empty
    %label{"data-tid" => "elements_examples.form.card_number_label", for: "example2-card-number"} 
      Card number
    %span.brand
      %i.pf.pf-credit-card#brand-icon
    .baseline
      
.row
  .field{style: 'width: 50%;'}
    #example2-card-expiry.input.empty
    %label{"data-tid" => "elements_examples.form.card_expiry_label", for: "example2-card-expiry"} Expiration
    .baseline
  
  .field{style: 'width: 0%;'}

  .field{style: 'width: 37%;'}
    #example2-card-cvc.input.empty
    %label{"data-tid" => "elements_examples.form.card_cvc_label", for: "example2-card-cvc"} CVC
    .baseline
    .cvc-example.is-loaded
      / =image_tag 'cvv.svg', style: 'width: 30px;'