#emailInvoice.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contirbuteMoreLabel", role: "dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4 Email Receipt
      
			.modal-body
				= form_tag email_receipt_billing_path(@billing), method: :post, id: 'email-form', class: 'form-horizontal' do
					%fieldset
						.form-group
							%label From
							= text_field_tag :email_form, 'hello@transparentcity.co', class: 'form-control', readonly: true

						.row
							.col-lg-12
								.form-group
									%label 
										To
										%span.fa.fa-info-circle{'aria-hidden' => "true", title: 'Enter multiple emails separated by comma.', data: {toggle: "tooltip", placement: "right"} }
									= text_field_tag :email_to, current_user.email, required: true, class: 'form-control'

						.row
							.col-lg-12
								.form-group
									/ %label Message
									/ = text_area_tag :message, "Please see attached receipt for Featured Building For Four Weeks Starting on #{@billing.created_at.strftime("%b %-d, %Y")}", class: 'form-control'

						.form-group
							.col-sm-12
								.pull-right
									=submit_tag 'Send', class: 'btn btn-primary'

