#showInvoice.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contirbuteMoreLabel", role: "dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      
			.modal-body.no-padding
				#invoice-container
					=render 'billings/invoice', card: @card

					%br
					%br
					%br