<div class="home-caption">
  <div class="home-title">Now it's easy to find your future home</div>
  <div class="home-subtitle">With Transparentcity</div>
  <!--<a href="#" class="btn btn-lg btn-black">Learn More</a>-->
</div>