.home-wrapper{style: 'padding: 0px 20px 0px;'}
	.home-content
		%h2.osLight1.text-center{style: 'font-weight: bolder; color: #333;margin-top: 20px;margin-bottom: 20px;'} No Fee Apartments That May Interest You
		.row.pb40
			- @similar_properties = @featured_buildings
			= render 'buildings/show/similar_properties', step: 4, col: 3

			  