.home-wrapper{style: 'padding: 0px 20px 0px;'}
	.home-content
		%h2.osLight1.text-center{style: 'font-weight: bolder; color: #333;margin-top: 20px;margin-bottom: 20px;'} No Fee Apartments That May Interest You
		.row.pb40
			- @featured_buildings.each do |fb|
				.col-xs-12.col-sm-6.col-md-3.col-lg-3
					- building 			= fb.kind_of?(FeaturedBuilding) ? fb.building : fb
					- @last_uploads = building.image_uploads.first
					= render 'buildings/detail_card', building: building

			  