.home-footer
  .home-wrapper
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3.hidden-xs.hidden-sm

      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        .osLight.footer-header Company
        %ul.footer-nav.pb20
          %li
            %a{href: '/about'} About Us
          %li
            %a{href: 'javascript:;'} Advertise With Us
            %ul.list-unstyled{style: 'padding: 8px 16px 0px;'}
              %li=link_to 'Agents', advertise_with_us_path(type: 'agents')
              %li{style: 'padding-bottom: 0px;'}=link_to 'Property Managers', advertise_with_us_path(type: 'property-managers')
          %li
            %a{href: '/blog'} Blog
          %li
            %a{href: tos_path, target: '_blank'} Terms Of Services

      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        .osLight.footer-header Get In Touch
        %ul.footer-nav.pb20
          %li
            %a{href: 'mailto:hello@transparentcity.co'} Email Us
          %li.invisible
            %a{href: '#'} xxxxx
          %li
            %a.btn.btn-sm.btn-icon.font-md{href: 'https://www.facebook.com/transparentcityllc', target: 'new'}
              %span.fa.fa-facebook
            %a.btn.btn-sm.btn-icon.font-md{href: 'https://twitter.com/transprentcity', target: 'new'}
              %span.fa.fa-twitter
            %a.btn.btn-sm.btn-icon.font-md{href: 'https://www.instagram.com/transprentcity', target: 'new'}
              %span.fa.fa-instagram
            %a.btn.btn-sm.btn-icon.font-md{href: 'https://www.linkedin.com/company/transparentcity', target: 'new'}
              %span.fa.fa-linkedin
    
    .copyright.padding-top-20
      transparentcity © #{Date.today.year}
  
    - unless request.url.include?('www.transparentcity.co')
      %br
      .text-center
        =image_tag 'buttercms_logo/butter-w.png', style: 'width: 150px;', alt: ''

