<div class="home-header">
  <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
  <div class="home-logo osLight"><%=image_tag 'logo1.png', alt: 'logo', width: '200' %></div>
  

  <div class="home-nav">
    <ul>
      <% unless user_signed_in? %>
        <li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#signin">Sign In</a></li>
      <%end%>
      <% if user_signed_in? %>
        <% if current_user.has_role?(:admin) %>
          <li>
            <a href="/buildings/contribute" class="visible-xs"><span class="icon-plus"></span><span class="navLabel"> Write a review</span></a>
          </li>
          <li>
            <a href="<%= buildings_path %>"><span class="fa fa-building"></span> Buildings</a></li>
          </li>
        <%end%>
      <%end%>
      <li class="no-hover-underline hover-underline-xs">
        <%=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-blue hidden-xs' %> 
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <%=render partial: 'layouts/shared/user_profile' %>
  <%end%>
</div>