<div class="home-header">
  <div class="home-logo osLight"><%=image_tag 'logo1.png', alt: 'logo', width: '200' %></div>
  <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
  <div class="home-nav">
    <ul>
    	<li class="hidden-xs"><%#=link_to 'Buildings', buildings_path %></li>
    	<li class="hidden-xs"><%#=link_to 'Units', units_path %></li>
    	<% unless current_user.present? %>
	      <li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#signin">Sign In</a></li>
	    <%end%>
      <li class="hidden-xs"><a href="#">|</a></li>
      <li class="list_property"><%=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-blue' %></li>
    </ul>
  </div>
</div>