<li>
  <a href="/buildings/contribute" class="visible-xs visible-sm"><span class="icon-plus"></span><span class="navLabel"> Write a review</span></a>
</li>
<% unless user_signed_in? %>
  <li><a href="#" data-toggle="modal" data-target="#signin"><span class="navIcon fa fa-sign-in"></span> Sign In</a></li>
  <li><a href="#" data-toggle="modal" data-target="#signup"><span class="navIcon fa fa-user"></span> Sign Up</a></li>
  <li><a href="#" data-toggle="modal" data-target="#signup1" style="visibility:hidden;"><span class="navIcon fa fa-user"></span> Sign Up</a></li>
<%end%>

<% if user_signed_in? %>
  <% if current_user.has_role?(:admin) %>
    <li>
      <a href="<%= buildings_path %>"><span class="fa fa-building"></span> Buildings</a></li>
    </li>
    <li>
      <a href="<%= units_path %>"><span class="fa fa-building"></span> Units</a></li>
    </li>
  <%end%>
<%end%>