<div class="home-wrapper" style="padding: 20px 20px 0px;background: #FBFBFF;">
  <div class="home-content neighborhood-container">
    <h2 class="osLight1 text-center" style="font-weight: bolder;color: #000;">Popular NYC Neighborhoods To Rent In</h2>
    <div class="row pb40 <%= !@home_view ? 'scrollable' : '' %> <%=@modal_type || 'other'%>">
      <%= render partial: 'layouts/shared/neighborhoods_list' %>
    </div>
  </div>
</div>