<div class="home-wrapper" style="padding: 20px 20px;">
  <%# unless browser.device.mobile? %>
  <%# if @home_view.present? %>
    <div class="home-content neighborhood-container">
      <h2 class="osLight1">Popular NYC Neighborhoods To Rent</h2>
      <div class="row pb40">
        <%= render partial: 'layouts/shared/neighborhoods_list' %>
      </div>
    </div>
  <%#end%>
</div>