- cache 'popular_searches-' do
	.home-wrapper{style: "background: #{bg_col};"}
		.home-content.popular-searches-container
			%h2.osLight1.text-center{style: 'font-weight: bolder; color: #000;'} Popular No Fee Searches
			.row.pb20{class: "#{!@home_view ? 'scrollable' : '' }"}
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					%ul.pop-list
						- col1_popular_searches.each_pair do |key, values|
							%b{style: 'text-decoration: none;', id: key}=key
							.child-borough-container
								- values.map do |val|
									%li.parent{'data-parent' => key}= popular_search_link(key, val)

				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					%ul.pop-list
						- col2_popular_searches.each_pair do |key, values|
							%b{style: 'text-decoration: none;', id: key}=key
							.child-borough-container
								- values.map do |val|
									%li.parent{'data-parent' => key}= popular_search_link(key, val)

			  