<div class="home-wrapper">
  <div class="home-content neighborhood-container">
    <h2 class="section-header text-center">Popular NYC Neighborhoods To Rent In</h2>
    <div class="pb20 <%= !@home_view ? 'scrollable' : '' %> <%=@modal_type || 'other'%>">
      <%= render 'layouts/shared/neighborhoods_list' %>
    </div>
  </div>
</div>