<div class="home-wrapper" style="padding: 20px 20px 0px;">
  <div class="home-content neighborhood-container">
    <h2 class="osLight1" style="font-weight: bolder;">Popular NYC Neighborhoods To Rent In</h2>
    <div class="row pb40 <%= !@home_view ? 'scrollable' : '' %> <%=@modal_type || 'other'%>">
      <%= render partial: 'layouts/shared/neighborhoods_list' %>
    </div>
  </div>
</div>