<div class="home-search-form">
  <%= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search', role: 'form' do %>
    <div class="search-elem-input">
      <%=render partial: 'home/search_form' %>
    </div>
  <%end%>
</div>