function loadMarkerWindow(building_id, map, marker, current_object_type){
  var filter_params = {
    amenities: $('#list_amenities').val(),
    listing_bedrooms: $('#list_bedrooms').val(),
    min_price: $('#list_min_price').val(),
    max_price: $('#list_max_price').val(),
  };
  
  $.post('/load_infobox', {
    object_id: building_id, 
    building_show: false,
    current_user_id: current_user_id,
    filter_params: filter_params,
    property_type: current_object_type
  }, function(data){
    infobox.setContent(data.html);
    openInfoBox(map, marker);
  });
}

function setMarkerImage(price, color='red'){
  return {
          url: markerIcon(price, color),
          // size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          // anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(45, 45)
        };
}

function prop_price(prop){
  return (prop.price == '' || prop.price == null) ? 0 : prop.price
}

function openInfoBox(map, marker){
  infobox.open(map, marker);
}

function bindElemToMarker(elem, marker, object, map){
  var card = elem.parent().parent().parent();
  card.on('mouseover', function(){
    console.log(prop_price(object))
    marker.setIcon(setMarkerImage(prop_price(object), 'green'));
  }).on('mouseout', function(){
    marker.setIcon(setMarkerImage(prop_price(object)));
  });
};

function createSidebar(object, marker, map, zoom){
  var elem;
  elem = $( createSidebarElemForBuilding(object) );
  
  $('#building_details'+object.id).html(elem);
  bindElemToMarker(elem, marker, object, map, zoom);
};

function createSidebarElemForBuilding(json){
  var building_name = ''
  var address = json.building_street_address;
  if(json.building_name == undefined || json.building_name == ''){
    building_name = address;
  }else{
    building_name = json.building_name
  }

  var city = json.city;
  var state = json.state;
  var zipcode = json.zipcode;
  var full_address = address+','+' '+city+','+' '+state+' '+zipcode;

  if(building_name == ' '){
    building_name = address
  }
  
  return ("<h2>" + building_name + "</h2>" +
  "<div class='cardAddress'><span class='fa fa-map-marker'></span> "+full_address+"</div>" );
};

function markerIcon(price, type='red'){
  var path = $('#red-marker-asset-'+0);
  var img_name;
  var red_img_path;
  var green_img_path;
  for(i=0; i <= 4; i++){
    if(price == i){
      if(type == 'red'){
        path = $('#red-marker-asset-'+i).data('path');
      }else{
        path = $('#green-marker-asset-'+i).data('path');
      }
    }
  }
  return path
}
