// function bindMarker(marker, markers, handler, lat, lng, zoom){
//   $(window).on('load', function(){
//     marker.serviceObject.setIcon("http://maps.google.com/mapfiles/ms/icons/red-dot.png")
//     marker.setMap(handler.getMap());
//     marker.panTo();
//     google.maps.event.trigger(marker.getServiceObject(), 'load');
//     handler.bounds.extendWith(markers);
//     handler.fitMapToBounds();
//     handler.getMap().setZoom(zoom);
//     //handler.map.centerOn(markers[0]);
//   })
// };

// function createSidebar(json_array){
//   _.each(json_array, function(json){
//     append_html(json)
//   });
// };

// function append_html(json){
//   var elem = $( createSidebarElem(json) );
//   var id = json.marker_title.split(',')[0];
//   elem.appendTo('#building_details'+id);
//   bindMarketToElem(json, elem);
// }


//Binding markers

function createSidebarElem(json){
  var building_name = ''
  if(json.building_name == undefined || json.building_name == ''){
    building_name = json.building_street_address  
  }else{
    building_name = json.building_name
  }

  var address = json.building_street_address;
  var city = json.city;
  var state = json.state;
  var zipcode = json.zipcode;

  if(building_name == ' '){
    building_name = address
  }
  return ("<h2>" + building_name + "</h2>" +
            "<div class='cardAddress'><span class='icon-location-pin'></span>"+ address+','+' '+city+','+' '+state+' '+zipcode +"</div>"
          );
};

function bindElemToMarker(elem, marker){
  window.data = marker
  var card = elem.parent().parent().parent();
  card.on('mouseover', function(){
    marker.setIcon("<%= asset_path 'green-dot.png' %>");
  }).on('mouseout', function(){
    marker.setIcon("<%= asset_path 'red-dot.png' %>");
  });
};

function createSidebar(object, marker){
  var elem = $( createSidebarElem(object) );
  elem.appendTo('#building_details'+object.id);
  bindElemToMarker(elem, marker);
};
