<div class="panel panel-default" id="description">
  <div class="panel-heading"><b>About Unit</b></div>
  
  <div class="panel-body"> 
    <!-- <b>Description</b><p><%#= simple_format(@unit.description) %></p>  -->
    <b>Pros</b><p><%= simple_format(@unit.pros) %></p> 
    <b>Cons</b><p><%= simple_format(@unit.cons) %></p> 
  </div>
</div>

<!-- <div class="panel panel-default" id="amenities">
  <div class="panel-heading"><b>Unit FACTS</b></div>

</div> -->