
<%#= render partial: 'buildings/building_amenities', locals: { building: @unit.building} %>
   

<!-- <div class="col-lg-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><b>Unit Amenities</b></div>
    
    <div class="panel-body"> 
      <%#= render partial: 'unit_amenities' %>
    </div>
  </div>
</div> -->
