<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Resident SD</th>
			<th>Resident ED</th>
			<th>Rent</th>
			<th>Refundable deposits</th>
			<th>Broker Fee</th>
			<th>Non Refundable costs</th>
			<th>Total Money upfront</th>
		</tr>
	</thead>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>