%h2
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: "margin-top: 10px;"}
      .table-overflow
        %table#sortable11.table
          %thead
            %tr
              %th Unit Name
              %th Building
              %th Building Address
              %th.text-center Listings History
              %th Reviews
              %th
              %th
          %tbody.table
            = render :partial => 'unit', collection: @units, as: :unit, cache: true
                