<div class="amenities">
  <h3>Unit Amenities</h3>
  <div class="row">
    <% unit_amenities.each_pair do |k, v| %>
      <%if @unit[k].present? %>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem">
            <% v = (v == 'Washer/Dryer' ? 'Washer-Dryer' : v) %>
            <span><%= image_tag "amenities_icons/units/#{v}1.png" %></span>
            <%= v %>
        </div>
      <%end%>
    <%end%>
  </div>
</div>