= render 'layouts/shared/admin_page_header', link_title: 'Add new unit', link_url: new_unit_path
  
- cache [@units, params[:page]] do
  = render 'units/units', :@units => @units

.text-center= pagy_bootstrap_nav(@pagy).html_safe