.clearfix
  .price-ranges
    %h3 Broker Fee Savings
    %table{style: 'width: 100%;'}
      - @broker_fee_savings.each_pair do |bed_range, amount|
        %tr
          %td=bedroom_type(bed_range)
          %td="#{number_to_currency(amount, precision: 0)}"
            
                