.clearfix
	.price-ranges.show-section
		%h3 Broker Fee Savings
		- @building.bedroom_ranges[0].each_with_index do |bed_range, index|
			.row
				.col-lg-6.col-xs-6.col-md-6
					.font-14=bedroom_type(bed_range)
				.col-lg-6.col-xs-6.col-md-6
					.font-14="#{number_to_currency(@saved_amounts[bed_range], precision: 0)}"
            
                