.clearfix
  .price-ranges
    %h3 Broker Fee Savings
    %table{style: 'width: 100%;'}
      - @building.bedroom_ranges.each_with_index do |bed_range, index|
        %tr
          %td=bedroom_type(bed_range)
          %td="#{number_to_currency(@saved_amounts[index], precision: 0)}"
            
                