.clearfix
	.price-ranges
		%h3 Broker Fee Savings
		%table{style: 'width: 100%;'}
			- @building.bedroom_ranges.each_with_index do |bed_range, index|
				%tr
					%td.font-14=bedroom_type(bed_range)
					%td.font-14="#{number_to_currency(@saved_amounts[bed_range], precision: 0)}"
            
                