.sh-slider-container
	%section{style: 'width: 100%;'}
		- unless mobile?
			#thumb-pager{style: 'width: 30%;'}
				= render 'buildings/show/ls_pager'
		
		%div{ class: "#{'col-lg-7 col-md-7' unless mobile?}" }
			= render 'buildings/show/lightslider', building: @building