.row
	.col-lg-12
		%table.table.listings.show-section
			%thead
				%tr
					%th Date
					%th Apt#
					%th Rent
					%th Beds
					%th Baths
					%th Months Free
					%th.hidden-xs{width: '16%'} Date Available
					%th.hidden-xs OP
					%th.hidden-xs{width: '5%'} Rent Stabilize
			%tbody.table.table-borders
				- if listings.present?
					- colspan = browser.device.mobile? ? '6' : '9'
					- listings.each do |listing|
						- bed = listing.bed
						%tr
							%td=listing.date_active
							%td=listing.unit
							%td
								%b=number_to_currency(listing.rent, precision: 0)
							%td=(bed == -1 ? 'R' : bed)
							%td=listing.bath
							%td=listing.free_months
							%td.hidden-xs
								- d_av = listing.date_available
								- unless type == 'past'
									=d_av || 'Now'
								- else
									=d_av
							%td.hidden-xs=listing.owner_paid
							%td.hidden-xs=listing.rentstabilize
						
					- if type == 'past' && @all_inactive_listings.present? && @all_inactive_listings.count > 5
						%tr
							%td.text-center{colspan: colspan}=link_to 'Show More Past Listings...', show_more_listings_path(building_id: @building.id, listing_type: 'past'), remote: true