.row
	.col-lg-12
		%table.table.listings.show-section
			%thead
				%tr
					%th Date
					%th Apt#
					%th Rent
					%th Beds
					%th Baths
					%th Months Free
					%th.hidden-xs{width: '16%'} Date Available
					%th.hidden-xs OP
					%th.hidden-xs{width: '5%'} Rent Stabilize
			%tbody.table.table-borders
				- if listings&.size > 0
					= render 'listings/partials/listing_rows', listings: listings, type: type
					
					- if type == 'past' && @past_listings_count.to_i > 5  && request.format.html?
						%tr
							%td.text-center{colspan: browser.device.mobile? ? '6' : '9'}
								= link_to 'Show More Past Listings...', show_more_past_listings_path(building_id: @building.id, listing_type: 'past'), remote: true, class: 'hyper-link'

- if type == 'past' && @building.past_listings.count > PastListing::LIMIT && request.format.js?
	.row
		.col-lg-12
			.text-center
				=link_to 'Show more...', 'javascript:;', class: 'load-more font-14 past-listings', data: {type: 'POST', url: load_more_past_listings_path(building_id: @building.id)}, method: :post
				= image_tag 'loader.gif', style: 'display:none;', class: 'loading-gif'
	%br