<ul class="lSPager lSGallery" style="margin-top: 1px; transition-duration: 400ms; transform: translate3d(0px, 0px, 0px);">
	<% 1.upto(@uploaded_images_count).each do |_| %>
		<li> <a href="#" class="thumb"> <div class="img-wrapper"></div> </a> </li>
	<%end%>
</ul>