.price-ranges.show-section
	%h3 Building Price Range
	- @price_ranges.each_pair do |bed_range, price|
		.row
			.col-lg-6.col-xs-6.col-md-6
				.font-14=bedroom_type(bed_range)
			.col-lg-6.col-xs-6.col-md-6
				.font-14= set_ranges(@building.price, price) if price.present?
                