.clearfix
  .price-ranges
    %h3 Price
    %table{style: 'width: 100%;'}
      - @price_ranges.each_pair do |bed_range, price|
        %tr
          %td=bedroom_type(bed_range)
          %td
            -if price.present?
              -if @building_price == 1
                ="#{number_to_currency(price.max_price, precision: 0)} <"
              -elsif @building_price == 2 or @building_price == 3
                ="#{number_to_currency(price.min_price, precision: 0)} - #{number_to_currency(price.max_price, precision: 0)}"
              -elsif @building_price == 4
                ="#{number_to_currency(price.min_price, precision: 0)} +"
                