.clearfix
  .price-ranges
    %h3 Building Price Range
    %table{style: 'width: 100%;'}
      - @price_ranges.each_pair do |bed_range, price|
        %tr
          %td.font-14=bedroom_type(bed_range)
          %td.font-14
            = set_ranges(@building.price, price) if price.present?
                