.clearfix
  .price-ranges
    %h3 Building Price Range
    %table{style: 'width: 100%;'}
      - @price_ranges.each_pair do |bed_range, price|
        %tr
          %td=bedroom_type(bed_range)
          %td
            -if price.present?
              = set_ranges(@building_price, price)
                