.similar
  / carousel for medium & large devices
  #carouselSimilar-1.carousel.slide.carousel-col.hidden-xs
    / %ol.carousel-indicators
    /   %li.active{"data-slide-to" => "0", "data-target" => "#carouselSimilar-1"}
    /   %li{"data-slide-to" => "1", "data-target" => "#carouselSimilar-1"}
    .carousel-inner
      .item.active
        .row
          - @similar_properties.each do |building|
            - @uploads = building.image_uploads
            .col-xs-6.col-sm-4
              = render 'buildings/detail_card', building: building
      .item
        .row
          .col-xs-4
    - if @similar_properties.count > 2
      %a.left.carousel-control{"data-slide" => "prev", href: "#carouselSimilar-1", role: "button"}
        %span.fa.fa-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carouselSimilar-1", role: "button"}
        %span.fa.fa-chevron-right
  
  / carousel for extra-small devices
  - if browser.device.mobile?
    #carouselSimilar-4.carousel.slide.visible-xs.carousel-col
      / %ol.carousel-indicators
      /   %li.active{"data-slide-to" => "0", "data-target" => "#carouselSimilar-4"}
      /   %li{"data-slide-to" => "1", "data-target" => "#carouselSimilar-4"}
      /   %li{"data-slide-to" => "2", "data-target" => "#carouselSimilar-4"}
      /   %li{"data-slide-to" => "3", "data-target" => "#carouselSimilar-4"}
      /   %li{"data-slide-to" => "4", "data-target" => "#carouselSimilar-4"}
      /   %li{"data-slide-to" => "5", "data-target" => "#carouselSimilar-4"}
      .carousel-inner
        - @similar_properties.each_with_index do |building, index|
          - @uploads = building.image_uploads
          %div{class: "item #{index == 0 ? 'active' : ''}"}
            .row
              .col-xs-12
                = render 'buildings/detail_card', building: building
      %a.left.carousel-control{"data-slide" => "prev", href: "#carouselSimilar-4", role: "button"}
        %span.fa.fa-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carouselSimilar-4", role: "button"}
        %span.fa.fa-chevron-right