- if !browser.device.mobile?
  .similar{style: "#{@featured_buildings.present? ? 'padding: 0px;' : ''}"}
    / carousel for medium & large devices
    - unless action_name == 'load_featured_buildings'
      =render 'layouts/shared/slick_slider', slides_to_show: 2
    - else
      #carouselSimilar-1.carousel.slide.carousel-col
        .carousel-inner
          .row
            - @border_class = 'bordered'
            - @featured_buildings.each do |building|
              .col-lg-3.col-md-4= render 'buildings/detail_card', building: building
- elsif action_name == 'show'
  =render 'layouts/shared/slick_slider', slides_to_show: 1