.similar
  / carousel for medium & large devices
  - unless browser.device.mobile?
    #carouselSimilar-1.carousel.slide.carousel-col
      / %ol.carousel-indicators
      /   %li.active{"data-slide-to" => "0", "data-target" => "#carouselSimilar-1"}
      /   %li{"data-slide-to" => "1", "data-target" => "#carouselSimilar-1"}
      .carousel-inner
        - item_ids = []
        - (1..@similar_properties.count).step(2).each_with_index do |val, index|
          %div{class: "item #{index == 0 ? 'active' : ''}"}
            .row
              - @similar_properties.where.not(id: item_ids).limit(2).each do |building|
                - @last_uploads = building.image_uploads.first
                .col-xs-6.col-sm-4.col-xs-12= render 'buildings/detail_card', building: building
                - item_ids << building.id
      
      - if @similar_properties.count > 2
        %a.left.carousel-control{'data-slide' => 'prev', href: '#carouselSimilar-1', role: 'button'}
          %span.fa.fa-chevron-left
        %a.right.carousel-control{'data-slide' => 'next', href: '#carouselSimilar-1', role: 'button'}
          %span.fa.fa-chevron-right
    
    / carousel for extra-small devices
  - else
    #carouselSimilar-4.carousel.slide.carousel-col
      .carousel-inner
        - @similar_properties.each_with_index do |building, index|
          - @last_uploads = building.image_uploads.first
          %div{class: "item #{index == 0 ? 'active' : ''}"}
            .row
              .col-xs-12= render 'buildings/detail_card', building: building
      

      %a.left.carousel-control{'data-slide' => 'prev', href: '#carouselSimilar-4', role: 'button'}
        %span.fa.fa-chevron-left
      %a.right.carousel-control{'data-slide' => 'next', href: '#carouselSimilar-4', role: 'button'}
        %span.fa.fa-chevron-right
