.singleTop
	- if @buiding_uploads.present?
		.row.sh-slider
			.sh-slider-container
				- unless browser.device.mobile?
					.col-lg-3.col-md-3.hidden-sm.hidden-xs
						=progressive_render placeholder: 'layouts/shared/loader' do
							#vertical-images-container
								- @buiding_uploads.each do |upload|
									%div{style: "width: 150px;max-width: 150px;"}
										%a{href: upload.image.url, data: { fancybox: 'gallery', caption: date_uploaded(upload) }}
											=image_tag upload.uploaded_img_url, style: 'width: 100%;'
							- sleep 2
        
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					=render 'home/lightslider', building: @building
				.clearfix
				=render 'uploads/add_photos', object: @building
     
	=render partial: 'building_summary'
    
	- unless @buiding_uploads.present?
		.sliderLink
			%p.text-danger No photos are available.
			- if user_signed_in?
				=link_to 'Add Photo', new_building_upload_path(building_id: @building, upload_type: 'photos'), class: 'btn btn-o btn-primary btn-sm'
			-else
				=link_to 'Add Photo', '#signin', 'data-toggle' => 'modal', class: 'btn btn-o btn-primary btn-sm'