.singleTop
	- if @uploads.present?
		.row.sh-slider
			.sh-slider-container
				.col.col-lg-12.col-md-12.col-sm-12.col-xs-12
					- cache @building do
						=render 'buildings/show/lightslider', building: @building
				.clearfix
				=render 'uploads/add_photos', object: @building
     
	.summary
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.summaryItem
					%h1.pageTitle
						=@building.building_name_or_address
						- if current_user and current_user.has_role?(:admin)
							= link_to 'Edit', edit_building_path(@building), class: 'btn btn-o btn-default btn-xs pull-right'
							= link_to 'Disconnect', disconnect_building_building_path(@building), class: 'pull-right btn btn-danger btn-o btn-xs', data: {confirm: 'Are you sure you want to discconect this building?'} if @manage_buildings.present?

						= render 'buildings/favourite', building: @building
					
					= render 'property_info', object: @building 
    
	- unless @uploads.present?
		.sliderLink
			%p.text-danger No photos are available.
			- if user_signed_in?
				=link_to 'Add Photo', new_building_upload_path(building_id: @building, upload_type: 'photos'), class: 'btn btn-o btn-primary btn-sm'
			-else
				=link_to 'Add Photo', '#signin', 'data-toggle' => 'modal', class: 'btn btn-o btn-primary btn-sm'