.advertise-with-us
	.top-section
		.row
			.col-lg-12.col-md-12.col-xs-12
				%h2 Promote Your Agent Book Of Business 
				%h2 With Transparentcity
				%br
				%p Transparentcity connects Tenant Agents to prospective renters who are looking for personal guidance on navigating the complex rental process.  We place a simple solution in front of renters who seek help: You, the Tenant Agent, and the service you are licensed to provide.  Renters who contact Agents through the platform reach out by choice specifically looking for an Agent, and not under the guise of a listing. Renters with intent give you, the agent, a better opportunity to start your relationships strong and without the awkward surprises.
	
	%hr
	
	.mid-section
		.row
			.col-lg-12.col-md-12.col-xs-12
				%h3 Our Offerings

		.row
			.col-lg-6.col-md-6.col-xs-12
				%h4 For Agents
				%p 
					Simply create a user account and go into the Agent Tool.  Enter in your contact information, select a neighborhood to be 
					%b Featured 
					in, add profile images and your Ad is literally up and running.
				%p All information is interchangeable and can be adjusted throughout the featured time period.
				
				%a.btn.btn-primary.btn-round.font-bold.d-block.d-lg-none.d-md-none{href: self_service_btn_link(@type)}='$9 / Ad / 4 Weeks'

			.col-lg-6.col-md-6.col-xs-12
				%h4
				=image_tag 'advertise/Agent-Preview.png', style: 'width: 100%;margin-top: 14px;'
		
		.row.d-none.d-lg-block.d-md-block
			.col-lg-6.col-md-6
				%a.btn.btn-primary.btn-round.font-bold{href: self_service_btn_link(@type)}='$9 / Ad / 4 Weeks'
			.col-lg-6.col-md-6

		%hr

		.row
			.col-lg-12.col-md-12.col-12
				%h3 Our Product Platform For Agents

		.row
			.col-lg-6.col-md-6.col-12=image_tag 'advertise/Agent-Advertise.png', style: 'width: 100%;margin-top: 14px;'

			.col-lg-6.col-md-6.col-12
				%h4 Create Your Profile. Get Inbound Leads
				%p Agent Profile Ads are easy to create and seamlessly blended into a renters' search results.
				%p Leads are sent directly to your inbox.  

				%h4 Be A Neighborhood Featured Agent
				%p 
					Be a
					%b Featured 
					Agent within a neighborhood you specify and have your profile consistently appear in front of a targeted list of renters who are looking for an apartment in your area of expertise.

				%h4 We Do Qualifying Questionnaires
				%p 
					To move past the typical back and forth intro emails, our contact form requires prospective renters to fill out pertinent information such as budget and number of bedrooms to help get you more qualified leads and to get them to you further in the sales funnel.
		
		%hr

		.row
			.col-lg-12.col-md-12.col-xs-12
				%h3 Who We Work With
				%p 
					%b Tenant Agents 
					looking to expand their clientele and can help guide renters each step of the way through the rental process.  Renting an apartment in NYC is competitive and the feedback from our users is many want more help in the form of Agent services.  Utilizing the resources of a great Agent will help put together the most competitive application for the most competitive apartments.

		%hr

		#why-wwt
			.row
				.col-lg-12.col-md-12.col-xs-12
					%h3 Why Work With Transparentcity?
			
			.row
				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-dollar.fa-3x
					%h4 Invest In Yourself
					%p Further your personal brand by getting your profile in front of thousands of would-be NYC renters, many of whom are seeking help.
					%p Listings go stale and have an expiration date. Your services do not.

				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-level-up.fa-3x
					%h4 Increase Your Leads
					%p Supplement your marketing channels with an inbound lead generator to further grow your business without the hassles of listings.

			.row
				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-clock-o.fa-3x
					%h4 Zero Maintenance
					%p 
						No manual postings and repostings.  No listing fatigue. No listings.  Just your profile and the services you provide.

				.col-lg-6.col-md-6.col-xs-12
					%div.icon
						%span.fa.fa-bullhorn.fa-3x
					%h4 Boost Your And Your Firm's Exposure
					%p 
						Increase the amount of referral traffic to your firm's website and specifically your personal Agent page to help highlight you and your firm's expertise.