.card.search-view-card.home.bordered
	= link_to '#' do
		.figure{style: 'position: relative;'}
			.shimmer1
		.building-detail-card{style: 'background: #efefef;padding: 8px 0px;margin: 0px 8px;width: 65%;'}
		%p
		.building-detail-card{style: 'background: #efefef;padding: 8px 0px;margin: 0px 8px;width: 90%;'}
  
	= link_to '#' do
		%div.font-14{style: 'padding: 0px 0px 0px 11px; height: 10px;'}

	.font-14{style: 'background: #efefef;padding: 8px 0px;margin: 0px 8px;width: 80%;'}
  
	.cta_buttons{style: 'margin-top: 80px;'}
		- styles = 'background: #efefef;padding: 10px 0px;margin: 0px 8px;width: 44%;'
		%a.float-start{ href: '#', style: styles}
		%a.float-start{ href: '#', style: styles}


.clearfix
  