.advertise-with-us{
	padding: 0px 60px 40px 60px;
	color: #000;

	h2, h3, p, h1{
		margin: 0px;
		padding: 0px;
	}

	hr{
		margin-top: 50px;
    margin-bottom: 50px;
	}
	
	.top-section {
		h2 {
			font-size: 30px;
			color: #2b78e4;
			padding: 0px;
			margin: 8px 0px;
			font-weight: bolder;
		}
		p {
			font-size: 16px;
		}
	}
	
	.mid-section {
		h3, h4, p, h2{
			margin-bottom: 8px;
		}
		p{
			padding-bottom: 16px;
		}

		h3 {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 21px;
			font-weight: bold;
			color: #2b78e4;
		}
		p, a {
			font-size: 16px;
		}

		.who-www{
			list-style: none;
			margin: 0px;
    	padding: 0px;
			li{
				font-size: 16px;
				padding: 4px;
			}
		}

		#why-wwt{
			h2{
				margin-bottom: 20px;
			}
			.row{
				margin-bottom: 60px;
				h4{
					padding: 12px 0px;
				}
			}
		}
	}	
}

.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
	.advertise-with-us {
		padding: 0px 6px 30px !important;
		.top-section {
			h2 {
				font-size: 27px;
			}
			p {
				font-size: 16px;
			}
		}
		
		.mid-section {
			h3 {
				font-size: 30px;
				font-weight: bold;
			}
			
			#why-wwt{
				p{
					margin-bottom: 20px;
				}
				.row{
					margin-bottom: 0px;
					.icon{
						padding-top: 12px;
					}
					h4{
						padding: 0px 0px;
					}
				}
			}

			h4 {
				font-size: 21px;
				font-weight: bold;
				color: #2b78e4;
				margin-top: 40px;
			}
			p, a {
				font-size: 16px;
			}
		}	
	}

}