.contact-links {
	padding: 0px 8px;
	.c-links {
		-webkit-column-count: 2;
	  -moz-column-count: 2;
	  column-count: 2;
	  height: 100%;
	  -moz-column-fill: auto;
	  column-fill: auto;
	  padding-bottom: 8px;
	  section a{
	  	width: 100%;
	  }
	}

	a{ font-weight: bolder; }

  .h-42{
  	height: 42px;
  }
}

.infoW{
	.infoButtons{
		.contact-links {
			padding: 0px 6px;
			.c-links{
				padding-bottom: 6px;
				section:first-child{
					width: 108%;
				}
				a{
					font-size: 12px;
				}
				.btn{
					padding: 10px 6px;
				}
			}
		}
	}
	.pb-8{
		height: 22px;
	}
}