.cta_buttons{
	margin-top: 2px;
}
.contact-links {
	padding: 0px 8px;
	.c-links {
		column-count: 2;
		-webkit-column-count: 2;
	  -moz-column-count: 2;
	  height: 100%;
	  padding-bottom: 7px;
	  a { 
	  	width: 100%;
	  	display: block;
	  }
  	a.ca {
	  	padding: 10px 8px;
	  }
	}

	a{ font-weight: bolder; font-size: 14px; }

  .h-42{
  	height: 44px;
  }
}

.infoW{
	.infoButtons{
		.contact-links {
			padding: 0px 6px;
			.c-links{
				padding-bottom: 6px;
				section:first-child{
					width: 108%;
				}
				a{
					font-size: 12px;
				}
				.btn{
					padding: 10px 6px;
				}
			}
			.d-block{
				a{
					font-size: 12px;
					padding: 10px 6px;
				}
			}
		}
	}
	.pb-8{
		height: 22px;
	}
}

.carousel-inner{
	.item{
		.search-view-card .contact-links a.btn{
			padding: 10px 0px;
			font-size: 12px;
		}
	}
}

.slick-slider {
	.slick-track .slick-slide{
		.search-view-card .contact-links a.btn{
			padding: 10px 0px;
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 767px) {
	.cta_buttons{
		margin-top: 4px;
	}
	.contact-links .c-links a, 
	.contact-links .c-links a.ca {
    padding: 16px 14px;
	}
}