.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    list-style-type: none;
    filter: alpha(opacity=80);
    opacity: 1.8;
    margin: 0;
}
#hero-container .cb-slideshow,
#hero-container .cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 55%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    list-style-type: none;
    margin: 0;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: asset-data-url("home_slider_img.jpg");
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation { 
    0% { opacity: 1;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 1 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 767px) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 229px;
        top: 236px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 436px;
        top: 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 55%;
        top: 225px;
    }
    .search-panel{
        margin: 0px 160px;
        padding: 131px 0px 0px 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 55%;
        top: 225px;
    }
    .search-panel{
        margin: 0px 160px;
        padding: 131px 0px 0px 0px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1600px){
    #hero-container {
        height: 540px;
        background-color: #dbe6f9;
    }

    #hero-container .cb-slideshow, #hero-container .cb-slideshow:after{
        top: 250px;
    }
}

@media screen and (min-width: 1601px){
    #hero-container {
        height: 540px;
        background-color: #dbe6f9;
    }
    #hero-container .cb-slideshow, #hero-container .cb-slideshow:after{
        top: 140px;
        height: 74%;
    }
}
