#hero-container{
    .bg_image_holder{
      position: absolute;
      height: 85%;
      width: 87%;
      top: 56%;
      left: 50%;
      -webkit-background-size: cover !important;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat;
      z-index: 0;
      -o-transition: opacity .3s linear;
      transition: opacity .3s linear;
      -webkit-transition: opacity .3s linear;
      opacity: 1;
      background-image: asset-data-url('home_slider_img.jpg');
      transform: translate(-50%, -50%)
    }
    .cb-slideshow,
    .cb-slideshow:after { 
        position: absolute;
        width: 84%;
        height: 85%;
        top: 50%;
        left: 50%;
        z-index: 0; 
        list-style-type: none;
        margin: 0;
        transform: translate(-50%, -50%);
    }
    .cb-slideshow {
        li span { 
            width: 100%;
            height: 100%;
            position: absolute;
            top: 40px;
            left: 0px;
            color: transparent;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: none;
            opacity: 0;
            z-index: 0;
            -webkit-backface-visibility: hidden;
            -webkit-animation: imageAnimation 36s linear infinite 0s;
            -moz-animation: imageAnimation 36s linear infinite 0s;
            -o-animation: imageAnimation 36s linear infinite 0s;
            -ms-animation: imageAnimation 36s linear infinite 0s;
            animation: imageAnimation 36s linear infinite 0s;
        }
        li:nth-child(1) span { 
            background-image: asset-data-url("home_slider_img.jpg");
        }
    }
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation { 
    0% { opacity: 1;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 1 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}

@media screen and (max-width: 767px) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 268px;
        top: 188px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 436px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        height: 571px;
    }
    .search-panel {
        margin: 0px 200px;
    }

    #hero-container .bg_image_holder{
        height: 70%;
        top: 62%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

    #hero-container .bg_image_holder{
        height: 70%;
        top: 62%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 737px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero-container .bg_image_holder{
        height: 62%;
        top: 69%;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px){
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        width: 81%;
    }
    #hero-container .bg_image_holder{
        width: 80%;
        top: 55%;
    }
}


@media screen and (min-width: 1601px) and (max-width: 1900px){
    #hero-container {
        height: 540px;
        background-color: #dbe6f9;
    }
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        width: 67%;
    }

    #hero-container .bg_image_holder{
        width: 67%;
        top: 56%;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2200px){
    #hero-container .bg_image_holder{
        width: 58%;
        top: 56%;
    }
}

@media screen and (min-width: 2201px){
    #hero-container {
        height: 540px;
        background-color: #dbe6f9;
    }
    #hero-container .cb-slideshow,
    #hero-container .cb-slideshow:after { 
        width: 45%;
    }
    .search-panel{
        margin: 0px 577px;
    }

    #hero-container .bg_image_holder{
        width: 44%;
        top: 57%;
    }
}
