$header-height: 59px;

.HeaderBlock {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  
  .Header.home-page {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  }
  .Header.other-page {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  .Header {
    background: #fff;
    position: relative;
    height: 100%;

    .Container {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 100px;
      padding-right: 100px;

      .Header-logoDesktop {
        display: inline-block;
        vertical-align: top;
        width: 190px;
        
        .Logo {
          height: $header-height;
          line-height: 38px;

          .Logo-image {
            vertical-align: middle;
          }
        }
      }

      #Left-navContainer{
        margin-right: auto;
        margin-left: auto;
        padding-right: 0px;
        padding-left: 0px;
        display: inline-block;
      }

      .Header-nav {
        position: relative;
        text-align: right;
        margin: 0px;
        padding: 0px;

        .Header-navListItem {
          display: inline-block;
          line-height: 1.1;
          list-style: none;
          position: relative;
          padding: 16px 6px;

          .Header-navText {
            background: none;
            border: 0;
            box-shadow: none;
            color: #000;
            cursor: pointer;
            display: inline-block;
            padding: 2px;
            position: relative;
            font-size: 15px;
          }
          .Header-navText:hover{
            border-bottom: 2px solid #000;
          }
          .Header-navText:hover, 
          .Header-navText:focus,
          .Header-navText:visited{
            color: #000;
          }
        }
        .Header-navListItem ul > li > a {
          font-size: 15px;
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .HeaderBlock {
    height: 59px;
    .Header {
      .Container {
        .Header-logoDesktop {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1024px){
  .HeaderBlock {
    .Header {
      .Container {
        
      }
      .Logo {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1278px){
  .HeaderBlock {
    .Header {
      .Container {
        
      }
    }
  }
}