/* ============== HOME HEADER NAV STYLING ============= */

.no-touch {
	.home-nav ul.homeNavUl li a:hover {
    color: #000;
  }
}

.home-nav{
	float: right;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
	
	ul.homeNavUl{
		margin: 0px 0px 0px 19px;
    padding: 19px 0px;
    list-style-type: none;
    float: right;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

		li.parent{
			float: left;
	    margin-left: 20px;
	    padding-top: 0px;
	    color: #777;
			&:not(.no-hover-underline):hover{
				border-bottom: 1px solid #ffffff;
			}
			a{
				color: #000;
    		font-size: 15px;
				&:hover{
					border-bottom: 2px solid #333;
				}
			}
		}
	}
}

/* ========== END HOME HEADER NAV STYLING =========*/


/* ========== START POPULAR NEIGHBORHOODS =========*/

.pop-list{
	b{
		font-size: 15px !important;
		a{
			color: #333;
		}
		a:hover{
			text-decoration: underline;
		}
	}
	li{
		list-style: none;
		padding: 1px 0px;
		a{
			color: #2b78e4;
			font-size: 14px;
		}
		ul{
			padding: 0px 0px 0px 22px;
			li{
				list-style: none;
				padding: 2px 0px !important;
				a{
					color: #2b78e4;
					font-size: 14px;
				}
			}
		}
	}
}

#apt-search-form{
	span.input-magnifier{
		position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    a.btn{
    	font-size: 15px;
    	border-top-left-radius: 0px !important;
    	border-bottom-left-radius: 0px !important;
    	border-top-right-radius: 2px;
    	border-bottom-right-radius: 2px;
    }
	}
}

.home-quick-links{
	z-index: 999;
	padding: 5px 0px;
	ul{
		margin: 0px;
		padding: 8px;
		li a{
			color: #2b78e4;
			font-size: 13px;
			text-decoration: underline;
		}
	}
}
