.homepageHero {
  position: relative;
  background-color: #f4f4f4;
  font-size: 1rem;
  height: 37.08rem;
  width: 100%;
  
  .heroImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #mainSearchWrap.mainSearchWrap {
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #mainSearchWrap h1 {
    color: #fff;
    margin-bottom: 0.8rem;
    letter-spacing: 0px;
    font-weight: bold;
    margin-top: 0px;
  }

  #mainSearchWrap h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 1.5rem;
    letter-spacing: 0px;
    font-size: 1.33rem;
    line-height: 1.1129rem;
  }

  #quickSearch.quickSearch, .heroTitles, .quickLinks {
    margin: auto;
    width: 813px;
    position: relative;
    font-size: 1.5rem;
  }

  #quickSearch .inputWrapper {
    position: relative;
    width: 100%;
  }

  #quickSearch .inputWrapper input {
    position: relative;
    color: #4c4c4c;
  }

  .quickLinks {
    z-index: 999;
    padding: 9px 0px;
    text-align: center;

    div a { 
      color: #fff;
      font-size: 14px;
      text-decoration: underline;
      font-weight: bolder;
    }
  }
}

/* ================================== */
/* ========= MEDIA QUERY ============ */
/* ================================== */

@media screen and (max-width: 768px) {
  .homepageHero {
    #mainSearchWrap.mainSearchWrap{
      padding: 0px 11px;
      top: 52%;
    }
    #quickSearch.quickSearch, .heroTitles, .quickLinks {
      width: 760px;
      max-width: 100%
    }
    #quickSearch .inputWrapper input {
      width: 100%;
    }
    .quickLinks{
      text-align: center;
    }
    #mainSearchWrap h1 {
      font-size: 1.2em;
      line-height: 1.99rem;
    }
  }
}

@media screen and (min-width: 900) and (max-width: 1366px){
  .homepageHero {
    height: 59.3125rem;
  }
  #quickSearch.quickSearch, .heroTitles, .quickLinks {
    width: 771px;
  }
}

@media screen and (min-width: 1400) and (max-width: 1680px){
  .homepageHero {
    height: 59.3125rem;
  }
  #quickSearch.quickSearch, .heroTitles, .quickLinks {
    width: 813px;
  }
  #quickSearch .inputWrapper input {
    width: calc(100% - 1.125rem);
  }
}

@media screen and (min-width: 1681px) and (max-width: 1920px) {
  #homepageContentWrapper .homepageHero {
    height: 49.3125rem;
  }
  #quickSearch.quickSearch, .heroTitles, .quickLinks {
    width: 1084px;
  }
  #quickSearch .inputWrapper input {
    width: calc(100% - 4.125rem);
  }
}