.neighborhoods-list{
	b{
		font-size: 13px !important;
	}
	li{
		list-style: none;
		padding: 1px 0px !important;
		a{
			color: #2b78e4;
			font-size: 14px;
		}
		ul{
			padding: 0px 0px 0px 22px;
			li{
				list-style: none;
				padding: 2px 0px !important;
				a{
					color: #2b78e4;
					font-size: 14px;
				}
			}
		}
	}
}