.pop-list{
	b{
		font-size: 15px !important;
		a{
			color: #333;
		}
		a:hover{
			text-decoration: underline;
		}
	}
	li{
		list-style: none;
		padding: 1px 0px;
		a{
			color: #2b78e4;
			font-size: 14px;
		}
		ul{
			padding: 0px 0px 0px 22px;
			li{
				list-style: none;
				padding: 2px 0px !important;
				a{
					color: #2b78e4;
					font-size: 14px;
				}
			}
		}
	}
}

#apt-search-form{
	span.input-magnifier{
		position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    a.btn{
    	font-size: 15px;
    	border-top-left-radius: 0px !important;
    	border-bottom-left-radius: 0px !important;
    	border-top-right-radius: 2px;
    	border-bottom-right-radius: 2px;
    }
	}
}

.home-quick-links{
	z-index: 999;
	padding: 5px 0px;
	ul{
		margin: 0px;
		padding: 8px;
		li a{
			color: #2b78e4;
			font-size: 13px;
			text-decoration: underline;
		}
	}
}