.infoW-property-info .bd-types .col-lg-7,
.infoW-property-info .bd-types .col-sm-7,
.infoW-property-info .bd-types .col-xs-7{
  padding-right: 0px !important;
}
.infoW-property-info .bd-types .col-lg-5,
.infoW-property-info .bd-types .col-sm-5,
.infoW-property-info .bd-types .col-xs-5{
  padding: 0px 12px 0px 0px;
}
.infoW {
  font-family: 'Open Sans', sans-serif, Arial;
  color: #333;
  padding: 0 0px;
}
.infoW:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.infoW-property-info{
  cursor: pointer;
}

.infoButtons {
  padding: 3px 6px;
}