.pdf-header {
	width: 400px;
	margin: 40px auto 50px auto;
	text-align: center !important;
}

.pdf-container{
	width: 100%;
}

.divider{
	border: 1px solid #333;
}

#billing-invoice{
	.text-muted{
		color: #999 !important;
	}

	.text-center{
		text-align: center !important;
	}
	.text-right{
		text-align: right !important;
	}

	.text-left{
		text-align: left !important;
	}

	.font-md{
		font-size: 15px !important;
	}

	.receipt {
		width: 150px;
    margin: 0 auto;
	}

	.payment-date{
		background: #f2f2f2 !important;
		width: 100%;
		padding: 8px 10px 8px 20px !important;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		font-size: 14px;
		color: #4b4b4b;
	}

	.billing-table, .payment-date{
		margin-top: 40px;
	}

	.billing-table {
		padding: 8px 20px;
		.table tfoot tr, .table tfoot th{
			background: #fff !important;
		}
	}
	table{
		width: 100%;
	}
	table tr th, table tr td {
    padding: 8px 10px;
	}

	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
	}
}