.listings.table{
	thead, tbody, tfoot{
		tr{
			th{
				&:first-child{
					width: 16%;
				}
				&:nth-child(6){
					width: 10%;
				}
			}
			td, th{
				padding: 5px;
				font-size: 14px;
			}
		}
	}
}

/* ========= MEDIA QUERY============ */

@media screen and (max-width: 767px) {
	.listings.table {
		thead, tbody, tfoot {
			tr {
					th {
					&:first-child{
						width: 23%;
					}
					&:nth-child(2){
						width: 14%;
					}
					&:nth-child(3){
						width: 16.5%;
					}
					&:nth-child(4){
						width: 10%;
					}
					&:nth-child(5){
						width: 8%;
					}
					&:nth-child(6){
						width: 10%;
					}
				}
				td, th {
					padding: 8px 2px;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
 .listings.table{
		thead, tbody, tfoot{
			tr{
				td, th{
					padding: 8px 2px;
				}
			}
		}
	}
}