.saving-badge {
	position: absolute;
  text-align: center;
  background-color: #03A63C;
  border: 1px solid #03A63C;
  padding: 0px 2px;
  z-index: 99;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  border-radius: 8px;

  p {
  	padding: 0px;
	  margin: 0 0 0px;
	  color: #fff;
	  font-weight: bolder;
	  &:first-child {
		  font-size: 12px;
		}
		&:last-child {
		  font-size: 16px;
		}
  }
}

.saving-badge.show-view-badge {
  right: 8px;
  margin-top: -43px;
}
.saving-badge.split-view-badge {
  right: 40px;
  margin-top: -21px;
}
.saving-badge.infowindow-view-badge {
  right: 30px;
  margin-top: -23px;
  p:first-child{
    font-size: 10px;
	}
	p:last-child{
	  font-size: 12px;
	}
}
