.search {
  width: 100%;
  padding: 6px 4px;
  height: 56px;
  border-bottom: 1px solid #ddd;
  input {
    background-color: #fff;
    color: #000;
    font-size: 13px;
    margin: 0px;
    -webkit-appearance: none;
    padding: 11px 9px 11px 26px;
    border: 1px solid #ddd;
    width: 100%;
    background: #f7f7f7;
    font-weight: bold;
  }
}