#content{
	#vertical-images-container{
		max-height: 300px; 
		overflow-y: scroll;
		overflow-x: hidden;
		.img-wrapper{
    	width: 150px;
    	height: 125px;
    	margin-bottom: 1px;
		}
		.img-wrapper img{
			width: 100%;
			height: 100%;
		}
	}

	.price-ranges{
		table{
			tr td{
				padding: 2px;
			}
		}
	}

	#subways{
		.st-transport-line{
	    height: 30px;
	    width: 30px;
	    text-align: center;
	    color: #fff;
	    line-height: 29px;
	    display: inline-block;
	    font-weight: bolder;
	    font-size: 17px;
		}
		.row{
			padding: 4px 0px;
			display: flex;
			align-items: center;
		}

		.distance-and-time{
			text-align: left;
			p{
				font-size: 13px;
				margin: 0px;
			}
		}
	}

	.singleTop{
		.sh-slider{
			.col{
				padding: 0px 1px !important;
			}
			.sh-slider-container{
				height: 300px;
				padding: 0px 10px;
			}
			.item{
				.lSSlideWrapper{
					.lightSlider li{
						width: 493px;
						.bg-size-cover{
							height: 300px;
						}
					}
				}
			}
			.col-lg-3 {
    		width: 23%;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#content{
		.singleTop{
			.sh-slider-container{
				padding: 0px 9px !important;
			}
		}

		#subways{
			.st-transport-line{
		    height: 22px;
				width: 22px;
				line-height: 21px;
				font-size: 14px;
				font-weight: 100;
			}
			.distance-and-time{
				text-align: right;
			}
		}
	}
	
}