$map-view-width: 25%;
$content-view-width: (100%-$map-view-width);

.buildingsshow{
	#mapView{
		width: 100%;
    float: right;
	}
	#mapView.screen-lg{
		height: 460px !important;
	}

	#content.screen-lg{
		height: 460px !important;
	}

	#content {
	  overflow-x: hidden;
	  overflow-y: hidden;
	  background-color: #fff;
	  width: 100%;
	  height: 100px;
	  float: left;
	  -webkit-overflow-scrolling: touch;
	}

	.show-section h3 {
		font-size: 24px;
		font-weight: bolder;
	}

	#show-content{
		.singleTop{
			# border-bottom: 1px solid #e8e8e8;
			padding-bottom: 20px;
		}
		.show-section, .singleTop .summary{
		  padding: 20px 0px 0 174px;
		}
		.aggregate-ratings.show-section ul{
			padding: 10px 20px 10px 0px;
		}
		.price-ranges{
			table{
				tr td{
					padding: 2px;
				}
			}
		}
	}

	#subways{
		.st-transport-line{
	    height: 30px;
	    width: 30px;
	    text-align: center;
	    color: #fff;
	    line-height: 29px;
	    display: inline-block;
	    font-weight: bolder;
	    font-size: 17px;
		}
		.row{
			padding: 4px 0px;
			display: flex;
			align-items: center;
		}

		.distance-and-time{
			text-align: left;
			p{
				font-size: 13px;
				margin: 0px;
			}
		}
	}
}

#content{
	#vertical-images-container{
		max-height: 300px; 
		overflow-y: scroll;
		overflow-x: hidden;
		.img-wrapper{
    	width: 150px;
    	height: 125px;
    	margin-bottom: 1px;
		}
		.img-wrapper img{
			width: 100%;
			height: 100%;
		}
	}

	.singleTop {
	  background-color: #fff;

	  .sh-slider{
			.col{
				padding: 0px 1px !important;
			}
			.sh-slider-container{
				height: 300px;
				padding: 0px 10px;
			}
			.item{
				.lSSlideWrapper{
					.lightSlider li{
						width: 493px;
						.bg-size-cover{
							height: 460px;
						}
					}
				}
			}
			.col.col-lg-3 {
    		width: 23%;
			}
		}

		.add--assets{
			padding: 10px 10px 0px 20px;
		}

		.summary {
		  .summaryItem {
    		margin-bottom: 20px;
			}
		}
		.address {
		  font-size: 13px;
		  line-height: 14px;
		  color: #999;
		}
		ul.rating {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  padding: 0;
		  float: left;
		}
		ul.rating li {
	    font-size: 12px;
	    line-height: 13px;
	    color: #333;
	    float: left;
	    margin-right: 3px;
		}
		ul.rating li a span {
		  color: #eab134;
		  font-size: 14px;
		}
		ul.stats {
		  float: right;
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		}
		ul.stats li {
		  float: left;
		  margin-left: 7px;
		  color: #333;
		  font-size: 11px;
		}
		ul.stats li span {
		  font-size: 11px;
		  color: #999;
		}
		.singleTop ul.features {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    float: left;
	    width: 100%;
		}
		ul.features a{
		  text-decoration: none;
		}
		ul.features li {
	    float: left;
	    width: 33.33%;
	    text-align: center;
	    padding: 8px 0;
	    font-size: 13px;
	    font-weight: bold;
		}
		ul.features li:last-child {
	    border-right: 0 none;
		}
		ul.features li span {
	    color: #999;
	    display: block;
	    height: 24px;
	    font-size: 12px;
	    line-height: 24px;
		}
		ul.features li div {
	    font-size: 12px;
		}
	}
}
.firstLetter{
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  text-align: center;
  display: table;
  color: #fff;
  background: #393939;
  border-radius: 50%;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
	.buildingsshow{
		#mapView{
			width: $map-view-width;
	    float: right;
		}

		#content, #show-content {
		  .show-section, .singleTop .summary{
			  padding: 20px 20px 0 20px;
			}
		}
	}
	.buildingsshow {
		#content{
			overflow-y: scroll;
			.singleTop{
				.sh-slider-container{
					padding: 0px 9px !important;
				}
				.add--assets.admin{
					padding: 10px 15px 0px 4px;
				}
				.add--assets{
					padding: 10px 15px 0px 20px;
				}
			}

			#subways{
				.st-transport-line{
			    height: 22px;
					width: 22px;
					line-height: 21px;
					font-size: 14px;
					font-weight: 100;
				}
				.distance-and-time{
					text-align: right;
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	#content {
		#subways {
			.distance-and-time {
				b, p {
					font-size: 1.2rem;
				}
			}
		}
		.description, .amenities, .share, .documents, .price-ranges, #subways {
		  padding: 14px 14px 0 14px;
		}
		.similar {
			padding: 14px 8px 0 8px;
		}
	}
	
}

@media screen and (min-width: 1440px) and (max-width: 1600px){
	.buildingsshow {
		#show-content {
			.show-section, .singleTop .summary {
				  padding: 20px 0px 0 186px;
				}
		}
	}
}

@media screen and (min-width: 1601px) and (max-width: 1680px){
	.buildingsshow {
		#show-content {
			.show-section, .singleTop .summary {
				  padding: 20px 0px 0 214px;
				}
		}
	}
}

@media screen and (min-width: 1920px) and (max-width: 2500px){
	.buildingsshow {
		#show-content {
			.show-section, .singleTop .summary {
				  padding: 20px 0px 0 247px;
				}
		}
	}
}

@media screen and (min-width: 2560px){
	.buildingsshow {
		#show-content {
			.show-section, .singleTop .summary {
				  padding: 20px 0px 0 326px;
				}
		}
	}
}