.slider-filter-container{position: relative;}
.slider-filter-container .checkbox.custom-checkbox{
  position: absolute;
  left: 0px;
  top: -7px;
  margin: 0px;
}
.slider-filter-container .slider.priceSlider{
  margin-left: 29px;
}

.slider {
    margin: 17px 0;
    position: relative;
}

.slider.priceSlider, .slider.areaSlider {
    margin-top: 37px;
    z-index: 0;
}
.sliderTooltip {
    position: relative;
    padding: 5px 0;
    margin-top: -3px;
    margin-left: 2px;
    top: -34px;
    z-index: 90;
    width: 200px;
    margin: 0 auto;
}
.stLabel {
    background-color: #2b78e4;
    font-size: 16px;
    line-height: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
}
.stArrow {
    border-color: transparent;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-top-color: #2b78e4;
}

.ui-slider .ui-slider-range {
    background-color: #2b78e4 !important;
}

.ui-slider-horizontal .ui-slider-handle{
    border: 2px solid #dfdfdf !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.13) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.13) !important;
    -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.13) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.13) !important;
}

/* rotate slider */

.rotateslider-container {
  position: relative;
  width: 532px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}
.rotateslider-container .rotateslider-item {
  position: absolute;
  left: 150%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.9, 0.6);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.9, 0.6);
  transform: translateY(-50%) translateX(-50%) scale(0.9, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.rotateslider-container .rotateslider-item.next {
  left: 85.9%;opacity: 1;
}
.rotateslider-container .rotateslider-item.prev {
  left: 14.2%;opacity: 1;
}
.rotateslider-container .rotateslider-item.now {
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.1,0.7);
  -ms-transform: translateY(-50%) translateX(-50%) scale(1.1,0.7);
  transform: translateY(-50%) translateX(-50%) scale(1.1,0.7);
  -webkit-transition: all 0.3s ease;
  z-index: 999;
}
.rotateslider-container .arrow {
  display: inline-block;
  width: 24px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  color: #898989;
  text-align: center;
  z-index: 999;
  font-size: 11px;
}
.rotateslider-container .arrow.left { left: 0; }
.rotateslider-container .arrow.right { right: 0; }