#mapView, #mapViewSearch {
    width: 50%;
    float: left;
}
#mapView.min, #mapViewSearch.min {
    width: 0%;
}
.mapPlaceholder {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    float: left;
    overflow: hidden;
}
#mapView.min .mapPlaceholder, #mapViewSearch.min .mapPlaceholder  {
    display: none;
}
.searched-properties#content{
    border-top: 0px solid #e8e8e8;
}
.mapPlaceholder span {
    font-size: 16px;
    line-height: 17px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.propImg {
    position: relative;
    width: 100%;
    height: 137px;
}
.propImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.paWrapper {
    padding: 8px 6px 0 6px;
}

.propTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
}
.propAddress {
    white-space: nowrap;
    overflow: hidden;
    color: #757575;
    font-size: 11px;
    line-height: 11px;
    padding: 2px 0px;
}
.propRating {
    padding: 1px 0 0px 6px;
}
.propRating span.star {
    color: #eab134;
    padding-right: 2px;
    display: inline-block;
    font-size: 12px;
}

.bd-types {
  padding: 1px 6px 6px;
}

.split-view .tab-pane {
    padding: 0px !important;
}

.sortMenu .active, .sortMenu .active a:hover{
    background: #0075c9 !important;
}
.sortMenu .active a, .sortMenu .active a:hover{
    color: #fff;
}

.btn-filter .btn.sc-lg, .btn-sort .btn.sc-lg{
    width: 14em;
}

.btn-filter .btn .dropdown-label, .btn-sort .btn .dropdown-label{ float: none; }

.btn-sort .btn{ padding: 10px 30px !important; }

.btn-sort .dropdown-menu.sc-lg{
    right: 206px;
    top: 105px;
}

@keyframes pulsate {
    0% {
        transform: scale(1.0, 1.0);
        opacity: 0.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1.4, 1.4);
        opacity: 0.0;
    }
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 0.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1.4, 1.4);
        pacity: 0.0;
    }
}
.pulsate {
  -webkit-animation: pulsate 0.5s ease-out;
  animation: pulsate 0.5s ease-out;
}
.pulse {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0.0;
}

a.mapHandler, a.listHandler, a.mapHandlerShow, a.listHandlerShow  {
    float: right;
    text-align: center;
    font-size: 16px;
    height: auto;
    color: #000;
    display: none;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
}

.neighborhoods-dropdown .dropdown-menu{
    min-width: 74em;
    padding: 6px;
    left: -220px;
}
.neighborhoods-dropdown .dropdown-menu .row .col-lg-3{
    padding-right: 0px !important;
    width: 22% !important;

}

@media screen and (max-width: 767px) {
  #mapView, #mapViewSearch {
    width: 0%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #mapView.min, #mapView.mob-min {
      width: 0%;
  }
  #content.min, #mapViewSearch.mob-min {
      width: 0%;
  }
  #mapViewSearch.max, #content.mob-max {
      width: 100%;
  }
  #mapView.mob-max, #mapViewSearch.mob-max {
      width: 100%;
  }
  #content.mob-min {
      width: 0%;
  }
  #mapView.mob-min .mapPlaceholder, #mapViewSearch.mob-min .mapPlaceholder {
      display: none;
  }
  a.mapHandler, a.mapHandlerShow {
    display: block;
  }
  a.mapHandler, a.listHandler, a.mapHandlerShow, a.listHandlerShow {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
  }
  .homesearch, .management_companiesshow{
    #content {
      overflow-y: scroll;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .btn-filter .btn.sc-lg, .btn-sort .btn.sc-lg{
    width: 12em;
  }
  .btn-sort, .lg-action-buttons > .btn-filter {
    margin-top: 3px;
  }
  .contact-links a {
    font-size: 12px;
  }
  .contact-links .c-links section a {
    padding-left: 6px;
  }
}