@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_social";


#map{
	margin-bottom: 10px;
}

.address-area {
	h1{
		font-size: 25px;
	}
}
.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:10px;
}
.margin-top-30{
	margin-top:10px;
}

.text-col-black{
	color: #333;
}

img.raty-cancel {
  display: none;
}

.message {
  color: red;
  font-size: 12px;
  font-weight: normal;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}
.search-result-container{
	border: 1px solid #ddd;
  margin: 4px 0px;
  padding: 4px 0px;
}

.search-slider{
	float: left;
  width: 30%;
  padding: 3px 8px;
}

.search-results-container{
	.pre-scrollable{
		height: 100%;
		min-height: 100%;
		position: relative;
	}
}