@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_social";


#map{
	margin-bottom: 10px;
}

.address-area {
	h1{
		font-size: 25px;
	}
}
.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:10px;
}
.margin-top-30{
	margin-top:10px;
}