.tables {
    padding: 20px;
    margin-left: 53px;
}
.table {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    border-spacing: 0;
}
.table > thead > tr {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.table > thead > tr > th {
    background-color: #e8e8e8;
    border-bottom: 1px solid #e8e8e8 !important;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;
}
.table > thead > tr > th:first-child {
    border-top-left-radius: 2px;
}
.table > thead > tr > th:last-child {
    border-top-right-radius: 2px;
}
.table > tbody > tr > td {
    vertical-align: middle;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8;
}
.table > tbody > tr > td:last-child {
    border-bottom: 0 none;
}
.table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 2px;
}
.table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 2px;
}
.table > tbody > tr > td .stars {
    white-space: nowrap;
}
.table > thead > tr > th.tablesorter-headerDesc, .table > thead > tr > th.tablesorter-headerAsc {
    background-color: #333;
    color: #fff;
}
.table > thead > tr > th.tablesorter-headerUnSorted .tablesorter-header-inner .sortIconAsc,
.table > thead > tr > th.tablesorter-headerUnSorted .tablesorter-header-inner .sortIconDesc {
    display: none;
}
.table > thead > tr > th.tablesorter-headerDesc .tablesorter-header-inner .sortIconAsc,
.table > thead > tr > th.tablesorter-headerDesc .tablesorter-header-inner .sortIcon {
    display: none;
}
.table > thead > tr > th.tablesorter-headerAsc .tablesorter-header-inner .sortIconDesc,
.table > thead > tr > th.tablesorter-headerAsc .tablesorter-header-inner .sortIcon {
    display: none;
}
table tr td.v-align-middle, table tr th.v-align-middle{
  vertical-align: middle !important;
}