$hbo-color: #1D6FE2;

.card.search-view-card .figure {
  height: 270px;
}
.search-view-card {
  position: relative;
  height: 453px;
  a ul.cardRating {
    margin-bottom: 4px;
  }
  .pb-info {
  	span {
    	font-size: 12px;
		}
		.col-lg-5, .col-md-5{
			padding: 0px 19px 0px 3px;
		}
		.col-lg-7, .col-xs-7, .col-sm-7{
			padding-right: 2px !important;
		}
	}
}

a.card, div.card {
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}
a.card.home, div.card.home {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
a.card.bordered, div.card.bordered{
   border: 1px solid #ddd;
}
.no-touch {
	a.card:hover img, div.card:hover img {
    opacity: 0.8;
	}
}

a.card h2, div.card h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 10px 0 0;
  padding: 10px 0 3px 10px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  float: none;
  width: 90%;
  text-overflow: ellipsis;
}
.no-touch a.card:hover, .no-touch div.card:hover {
    text-decoration: none;
}
.no-touch a.card:hover h2, .no-touch div.card:hover h2 {
    color: $hbo-color;
    text-decoration: none;
}
a.card .cardAddress, div.card .cardAddress {
    font-size: 12px;
    line-height: 13px;
    color: #757575;
    padding: 0 0 5px 10px;
    margin: 0 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
}
a.card .cardAddress span, div.card .cardAddress span {
    font-size: 13px;
    line-height: 13px;
}
a.card .cardRating, div.card .cardRating {
    padding: 0px 8px 0px 8px;
    font-size: 12px;
    line-height: 12px;
    color: #333;
}
a.card .cardRating span, div.card .cardRating span {
    color: #eab134;
    padding-right: 2px;
    display: inline-block;
    font-size: 12px;
}
a.card ul.cardFeat, div.card ul.cardFeat {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 10px 10px;
}
a.card ul.cardFeat li, div.card ul.cardFeat li {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    line-height: 11px;
    color: #333;
}
a.card ul.cardFeat li span, div.card ul.cardFeat li span {
    color: #999;
}

.figure {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.figure img {
    position: relative;
    display: block;
    opacity: 1;
    margin: 0 auto;
}

.figCaption {
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}
.no-touch .figCaption {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.figCaption div {
    float: left;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}
.carousel-col .figCaption div {
    float: left;
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
}
.figCaption > span {
    float: right;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    margin-left: 5px;
}
.carousel-col .figCaption > span {
    display: none;
}
.figCaption > span::before {
    color: rgba(255, 255, 255, 0.70);
}
.no-touch .figCaption div,
.no-touch .figCaption > span {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}
.figCaption div {
    display: inline-block;
}

.video-tour-icon {
  position: absolute;
  bottom: 2px;
  left: 2px;
  z-index: 999;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 12px;
  border-radius: 20px;
  -webkit-transform: translate3d(0, 0, 0);
}

.comp.featured{
  margin: 2px 0px 2px 2px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #000;
  z-index: 999;
  color: #fff;
  padding: .4em .45em;
  font-size: 13px;
  -webkit-transform: translate3d(0, 0, 0);
  line-height: 1.1;
}
.round {
	border-radius: 100px;
}

@media screen and (max-width: 767px) {
	a.card, div.card {
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}