- unless current_user
  .row
    .col-lg-3.col-xs-5.col-md-5
    .col-sm-3.col-lg-9.col-xs-7.col-md-7
      .text-right=seel_all_link(@building.id, @uploaded_images_count)
- else
  .row
    - if current_user.admin?
      .col-lg-3.col-xs-4= link_to 'Add Tour', new_video_tour_path(building_id: @building.id), class: 'btn btn-o btn-primary btn-sm btn-block'
      .col-lg-3.col-xs-4= link_to 'Add Photo', new_building_upload_path(building_id: object.id, upload_type: 'photos'), class: 'btn btn-o btn-primary btn-sm btn-block'
      .col-lg-6.col-xs-4
        .text-right= link_to "<span style='color: #333;' class='fa fa-th-large'></span> See all(#{@uploaded_images_count})".html_safe, building_uploads_path(building_id: object.id), class: 'btn btn-o btn-sm'
    - else
      .col-lg-3.col-xs-5.col-md-5
      .col-sm-3.col-lg-9.col-xs-7.col-md-7
        .text-right=seel_all_link(@building.id, @uploaded_images_count)