<% if @documents.present? %>
	<div class="table-responsive table-responsive-lg">
		<table class="table table-bordered table-striped">
	  	<thead>
	    	<tr>
	    		<th>Name</th>
		      <th></th>
	    	</tr>
	  	</thead>
	  	<tbody>
		  	<% @documents.each do |doc| %>
					<tr>
						<td class="text-left">
							<% if doc.document_content_type == 'application/pdf' %>
								<span class="fa fa-file-pdf-o fa-2x"></span>
							<%elsif ['xlsx', 'xls'].include? doc.document_file_name.split('.')[1] %>
								<span class="fa fa-file-excel-o fa-2x"></span>
							<%elsif doc.document_file_name.split('.')[1] == 'docx' %>
								<span class="fa fa-file-word-o fa-2x"></span>
							<%elsif doc.document_file_name.split('.')[1] == 'ppt' %>
								<span class="fa fa-file-powerpont-o fa-2x"></span>
							<%elsif doc.document_file_name.split('.')[1] == 'text' %>
								<span class="fa fa-file-text-o fa-2x"></span>
							<%end%> &nbsp;
							<%= link_to doc.document_file_name, doc.document.url, class: 'link_underlined', 'data-no-turbolink' => false, target: '_blank' %></td>
						<td>
							<%= link_to 'Delete', doc, method: :delete, confrim: 'Are you sure?' %>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
<%end%>