- uploads.each_with_index do |upload, index|
	- url = upload.image.url
	= render 'uploads/gallery', featured_image: featured_image, upload: upload, url: url, index: index

:css
	.actions-links{
		position: absolute;
		top: 3px;
		right: 3px;
	}
	.fl-featured-image img.img-thumbnail{
		border: 1px solid #2b78e4;
	}
