 <div class="swiper-container visible-xs visible-sm visible-md">
  <div class="swiper-wrapper">
    <% object.uploads.each_with_index do |upload, index| %>
      <div class="swiper-slide" src="<%= upload.image.url %>"> 
        <%= image_tag upload.image.url, alt: 'Image' %>
      </div>
    <%end%>
  </div>
  <!-- <div class="swiper-button-next"></div> -->
  <!-- <div class="swiper-button-prev"></div> -->
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->
</div>

<script type="text/javascript">
    
    //touch siwpe for mobiles
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        spaceBetween: 0,
        loop: true
    });
  
  //fancybox without a tag
  $(".swiper-slide").each(function(){

     $(this).fancybox({
        padding: 0,
        fitToView: true,
        maxWidth: "100%",
        modal: false,
        href: $(this).attr('src')
     });

  });
</script>