<div class="row margin-top-10">
	<div class="col-lg-12">
		<% if @imageable.uploads.present? %>
			<%= link_to 'View all photos', building_uploads_path(building_id: @imageable.id) %>
		<%end%>
	</div>
</div>

<div class="row margin-top-10">
	<%= render partial: 'form' %>
</div>