<div class="tables table-xs">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p class="font-21 mb-3">Write a review</b>
			<%= render 'form' %>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
			  <div class="panel-body">
					<h3>Keep it Legit!</h3>
					<p>Thank you for helping a fellow renter and sharing your experiences with the community.  Your opinion will help others make decisions about where to live.</p>

					<p>Please be respectful and do not post:</p>
					<ul>
						<li>Aggressive or discriminatory language</li>
						<li>Profanities</li>
						<li>Anything you would not want your friends and family to see or read</li>
					</ul>

					<p>Thank you for doing your part to keep transparentcity a trusted and go to place for apartment rentals. </p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// To make rating fields to wotk with jquery validations
	// hidden won't work
	$(function(){
		$('input[name=score]').attr('type','text').css('visibility','hidden');	
	})
	
</script>