- if current_user.has_role? :admin
  - if current_user.present?
    - @featured_by = 'admin'
    = render 'layouts/shared/admin_page_header', link_title: 'Add New Featured Building', link_url: new_featured_building_path(featured_by: @featured_by)
  
  = render 'featured_buildings/buildings'
  
  .text-center.mt-5
    = pagy_bootstrap_nav(@pagy).html_safe


:css
  #sortable_filter{
    display: none;
  }