!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{charset: "utf-8"}/
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
		%title=yield(:title) || Invoice
		%link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap"}
		:css
			body{
				font-family: 'Open Sans', sans-serif, Arial !important;
			}
			.pdf-header {
				width: 400px;
				margin: 40px auto 50px auto;
				text-align: center !important;
			}
			.pdf-container{
				width: 100%;
			}
			.divider{
				border: 1px solid #333;
			}

			#billing-invoice .text-muted{
				color: #999 !important;
			}

			#billing-invoice .text-center{
				text-align: center !important;
			}
			#billing-invoice .text-right{
				text-align: right !important;
			}

			#billing-invoice .text-left{
				text-align: left !important;
			}

			#billing-invoice .font-md{
				font-size: 15px !important;
			}

			#billing-invoice .receipt {
				min-width: 150px;
				margin: 0 auto;
				max-width: 200px;
			}

			#billing-invoice .payment-date{
				background: #f2f2f2 !important;
				width: 100%;
				padding: 8px 10px 8px 20px !important;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				font-size: 14px;
				color: #4b4b4b;
			}

			#billing-invoice .billing-table, .payment-date{
				margin-top: 40px;
			}

			#billing-invoice .billing-table {
				padding: 8px 20px;
			}
			#billing-invoice .table tfoot tr, .table tfoot th{
				background: #fff !important;
			}
			
			table{
				width: 100%;
			}
			
			table tr th, table tr td {
				padding: 8px 10px;
			}

			.table > thead > tr > th, 
			.table > thead > tr > td, 
			.table > tbody > tr > th, 
			.table > tbody > tr > td, 
			.table > tfoot > tr > th, 
			.table > tfoot > tr > td {
				padding: 8px;
				line-height: 1.428571429;
				vertical-align: middle;
				border-top: 1px solid #ddd;
			}

	%body
		.pdf-container
			= yield
